.review-item {
    padding: 8px;
    border-radius: 8px;
    background-color: var(--bg2);
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
}

.review-item__info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.review-item__avatar-div {
    width: 96px;
    aspect-ratio: 1 / 1;
    position: relative;
}

.review-item__avatar {
    border: 1px solid var(--outline1);
    border-radius: 50%;
}

.review-item__info-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.review-item__user-name {
    font-weight: 600;
}

.review-item__date {
    color: var(--dark11);
}

.review-item__rating {
    display: flex;
    align-items: center;
    gap: 4px;
}

.review-item__rating-number {
    padding-bottom: 4px;
    font-weight: 500;
}

.review-item__variant {
    width: 90%;
    padding: 4px 12px;
    border-radius: 8px;
    color: var(--white);
    background-color: var(--pink);
    font-weight: 500;
}

.review-item__content {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.review-item__image-group {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 8px;
}

.review-item__image-div {
    cursor: pointer;
    aspect-ratio: 1 / 1;
    position: relative;
}

.review-item__image {
    border-radius: 4px;
}

@media only screen and (max-width: 1024px) {
    .review-item {
        padding: 8px;
        grid-template-columns: 250px 1fr;
    }

    .review-item__avatar-div {
        width: 68px;
        height: 68px;
    }
}

@media only screen and (max-width: 768px) {
    .review-item {
        padding: 8px;
        grid-template-columns: 180px 1fr;
    }

    .review-item__info-div {
        gap: 0px;
    }

    .review-item__info {
        gap: 8px;
    }

    .review-item__avatar-div {
        width: 48px;
        height: 48px;
    }

    .review-item__variant {
        padding: 2px 6px;
        border-radius: 4px;
    }
}

@media only screen and (max-width: 416px) {
    .review-item {
        padding: 4px;
        grid-template-columns: none;
    }

    .review-item__info {
        padding: 4px 0px;
    }

    .review-item__avatar-div {
        width: 56px;
        height: 56px;
    }

    .review-item__info-div {
        gap: 4px;
    }

    .review-item__image-group {
        grid-template-columns: repeat(4, 1fr);
    }
}