.specifications {
    padding-top: 8px;
    border-top: 2px solid var(--outline1);
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
}

.specifications__title {
    display: flex;
    justify-content: space-between;
}

.specifications__see-more {
    cursor: pointer;
    padding: 4px 4px 4px 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.specifications__table {
    max-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow: hidden;
}

.specifications__table.full-height {
    max-height: none;
}

.specifications__item {
    padding: 4px 0;
    border-bottom: 1px solid var(--outline1);
    display: flex;
    border-radius: 4px;
}

.specifications__item:last-child {
    border: none;
}

.specifications__type {
    width: 50%;
    color: var(--dark11);
}

.specifications__info {
    width: 50%;
}

.specifications__see-more-div:hover {
    cursor: pointer;
    background-color: var(--pink);
    border-radius: 4px;
}

.specifications__see-more-text {
    font-weight: 600;
}

.specifications__see-more .material-icons-round {
    font-size: 20px;
}

.see-more-btn {
    cursor: pointer;
    position: relative;
}

.see-more-btn__gradient {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    bottom: 40px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.see-more-btn__text {
    width: 100%;
    text-align: center;
    font-weight: 500;
}

@media only screen and (max-width: 416px) {
    .specifications {
        border: none;
    }

    .see-more-btn__gradient {
        bottom: 24px;
    }
}