.header {
  width: 100%;
  height: 154px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  font-size: 16px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateZ(0);
  z-index: 9999;
}

.header a {
  text-decoration: none;
}

.header__nav {
  width: 100%;
  height: 64px;
  margin-bottom: 12px;
  font-size: 0.8125rem;
  background-color: var(--primary-color-1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__container {
  width: 80%;
  max-width: 1152px;
  height: 80%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
  align-items: stretch;
}

.header__nav-container {
  width: 80%;
  max-width: 1152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.header__nav a {
  text-decoration: none;
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.header__main {
  height: 90%;
  text-decoration: none;
  color: var(--primary-color-1);
  padding: 0;
  display: flex;
  align-items: center;
}

.header__support-info {
  display: flex;
  gap: 20px;
}

.dropdown-help {
  position: relative;
  display: inline-block;
}

.dropdown-help__content-container {
  display: none;
  position: absolute;
  z-index: 1;
  width: 220px;
  border-radius: 0 0 8px 8px;
  padding-top: 12px;
}

.dropdown-help__content {
  background-color: #f9f9f9;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  padding: 12px;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.dropdown-help__content img {
  object-fit: cover;
  width: 100%;
}

.dropdown-help__content p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
}

.dropdown-help:hover .dropdown-help__content-container {
  display: flex;
}

.dropdown-help:hover a {
  color: #d7d7d7;
}

/* dropdown-noti */
.dropdown-noti {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.dropdown-noti__content-container {
  display: none;
  position: absolute;
  z-index: 1;
  width: 380px;
  border-radius: 0 0 8px 8px;
  padding-top: 12px;
  margin-left: -290px;
}

.dropdown-noti__content {
  background-color: #f9f9f9;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.dropdown-noti__content-title {
  color: var(--dark7);
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 12px;
}

.dropdown-noti__content-container .dropdown-noti__btn-read-all {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: var(--primary-color-1);
  margin: 8px auto;
  font-weight: 500;
}

.dropdown-noti__content-container .dropdown-noti__btn-read-all:hover {
  color: var(--primary-color-2);
}

.dropdown-noti:hover .dropdown-noti__content-container {
  display: flex;
}

.dropdown-noti:hover .header__nofitications {
  color: #d7d7d7;
}

.dropdown-noti__unauth-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px;
}

img.unauth-user__img {
  object-fit: contain;
  width: 112px;
}

.unauth-content__noti {
  font-size: 0.875rem;
  font-weight: 400;
  color: black;
}

.unauth-content__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 0;
  background-color: var(--outline-gray);
  border-radius: 0 0 8px 8px;
}

.unauth-content__btn a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 0.875rem;
  margin: 0 auto;
}

.unauth-content__btn a:hover {
  color: var(--primary-color-1);
}

.dropdown-noti--empty {
  display: flex;
  flex-direction: column;
  padding: 62px;
  align-items: center;
  gap: 12PX;
}

img.dropdown-noti__img--empty {
  object-fit: contain;
  width: 100px;
}

.empty-content__noti {
  color: black;
  font-size: 0.875rem
}

/* end dropdown-noti */
.header__support-info__hotline:hover {
  color: #d7d7d7;
}

.header__about-account {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  width: 13.75rem;
  object-fit: contain;
  height: 100%;
  display: flex;
}

.header__search-bar {
  width: 55%;
  height: 100%;
  background-color: white;
  border-radius: 8px 0 0 8px;
  display: flex;
  justify-content: space-between;
  margin-left: 7%;
  margin-right: 8%;
  border: none;
  border-right: none;
  align-items: center;
}

.header__search-btn {
  width: 12%;
  height: 100%;
  border-radius: 0 8px 8px 0;
  background-color: var(--primary-color-1);
  margin-right: 6%;
  border: none;
  margin-left: -3px;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__search-btn:hover {
  background-color: var(--primary-color-2);
}


.header__search-bar input {
  width: calc(100%);
  height: calc(100%);
  text-indent: 16px;
  outline-color: var(--primary-color-1);
  border-radius: 8px 0 0 8px;
  border: none;
  background-color: transparent;
  border: var(--outline-gray) 2px solid;
}

.header__search-bar input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.header__nav .material-symbols-outlined {
  font-size: 1rem;
  margin-right: 5px;
}

.header__main .material-symbols-outlined {
  font-size: 1.75rem;
  padding: 0px 10px;
  color: white;
}

.header__cart .material-symbols-outlined {
  font-size: 2.25rem;
  color: var(--primary-color-1);
}

.header__about-account .header__nofitications {
  display: flex;
}

.header__cart-container {
  text-decoration: none;
}

.header__cart {
  display: flex;
  align-items: center;
  position: relative;
}

.header__cart__number-badge {
  font-size: 0.625rem;
  font-weight: 500;
  position: absolute;
  border-radius: 2.75rem;
  min-width: 0.6875rem;
  padding: 2px 6px;
  text-align: center;
  border: 0.125rem solid var(--white);
  color: var(--white);
  background-color: var(--dollar-red);
  left: 2rem;
  top: -0.5rem;
}

/* dropdown-cart */
.dropdown-cart {
  position: relative;
  display: inline-block;
}

.dropdown-cart__content-container {
  display: none;
  position: absolute;
  z-index: 1;
  width: 340px;
  border-radius: 0 0 8px 8px;
  padding-top: 8px;
  margin-left: -280px;
}

.dropdown-cart__content {
  background-color: #f9f9f9;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 8px 8px;
}

.dropdown-cart__content-title {
  color: var(--dark7);
  display: flex;
  margin-bottom: 8px;
  margin-top: 8px;
  margin-left: 12px;
  font-size: 0.8125rem;
}


.dropdown-cart:hover .dropdown-cart__content-container {
  display: flex;
}

.btn-cart {
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}

.btn-cart div.btn.btn--filled.pri {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  padding: 0 20px 2px 20px;
  height: 36px;
  border-radius: 4px;
}

.dropdown-cart__unauth-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 62px;
}

.unauth-content__cart {
  font-size: 0.875rem;
  font-weight: 400;
  color: black;
}

.unauth-content__btn a:hover {
  color: var(--primary-color-1);
}

.dropdown-cart--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12PX;
}

.dropdown-cart__content-title--empty {
  visibility: hidden;
  width: 100%;
  margin-left: 0px;
  padding-left: 12px;
}

img.dropdown-cart__img--empty {
  object-fit: contain;
  margin: 24px 24px p;
  width: 100px;
}

.empty-content__cart {
  color: black;
  font-size: 0.875rem
}

.btn-cart--empty {
  visibility: hidden;
}

/* end dropdown-cart */
.header__logo--top {
  display: none;
}

.header__logo--top img {
  object-fit: contain;
  width: 10rem;
}

.header__auth {
  display: flex;
  color: white;
  gap: 4px;
  align-items: center;
}

.header__auth img {
  object-fit: cover;
  height: 30px;
  border-radius: 50%;
}

.header__auth:hover {
  cursor: pointer;
  color: #d7d7d7;
}

.dropdown-account__content-container {
  display: none;
  position: absolute;
  z-index: 1;
  width: 160px;
  border-radius: 0 0 8px 8px;
  padding-top: 6px;
  margin-left: 0;
}

.dropdown-account__content {
  background-color: #f9f9f9;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 8px 8px;
  padding-bottom: 6px;
}

.dropdown-account:hover .dropdown-account__content-container {
  display: flex;
}

#btn-dropdown-account,
#btn-dropdown-purchase-history,
#btn-dropdown-logout {
  text-decoration: none;
  padding: 12px;
  color: black;
}

#btn-dropdown-account:hover,
#btn-dropdown-purchase-history:hover,
#btn-dropdown-logout:hover {
  color: var(--primary-color-1);
  background-color: var(--bg-white);
}

.header__auth-login:hover {
  color: #d7d7d7;
}

.header__auth-register:hover {
  color: #d7d7d7;
}

.header__auth:hover {
  color: white;
}

/* menu */
.header__menu {
  width: 80%;
  max-width: 1152px;
  display: flex;
  justify-content: flex-start;
  gap: 24px;
  position: relative;
}

.header__menu>li:hover>ul.cate-dropdown {
  display: flex !important;
}

.header__cate-dropdown-wrapper:hover>.cate-dropdown__content {
  display: flex;
}

.header__menu .menu__cate:hover+.header__cate-dropdown .header__cate-dropdown-wrapper:first-of-type .cate-dropdown__content {
  display: flex;
}

.header__menu .menu__cate:hover+.header__cate-dropdown .header__cate-dropdown-wrapper:first-of-type .cate-dropdown__item {
  background-color: var(--bg-white-o80);
  border-radius: 8px;
}

.menu__item {
  cursor: pointer;
  height: 48px;
  box-sizing: border-box;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.menu__item:hover {
  color: var(--primary-color-2);
  box-shadow: inset 0 -2px 0 0 var(--primary-color-2);
}

.active-menu-item {
  color: var(--primary-color-2) !important;
  box-shadow: inset 0 -2px 0 0 var(--primary-color-2);
}

.header__menu a {
  text-decoration: none;
  color: var(--black);
}

.menu__hot-product span {
  color: var(--fire-orange);
}

.menu__promo span {
  color: var(--pink);
}

.header__cate-dropdown {
  width: 100%;
  max-width: 1152px;
  min-height: 500px;
  padding: 12px;
  background-color: var(--white);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 1px 6px 8px -2px rgba(0, 0, 0, 0.2);
  display: none !important;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 0;
}

.header__cate-dropdown-wrapper {
  display: flex;
}

.header__cate-dropdown-wrapper .cate-dropdown__content:first-child {
  display: flex;
}

.header__cate-dropdown-wrapper:hover .cate-dropdown__content {
  display: flex;
}

.header__cate-dropdown-wrapper:hover .cate-dropdown__item {
  width: 25%;
  border-radius: 8px;
}

.cate-dropdown__item {
  width: 25%;
  padding: 4px 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}

.cate-dropdown__item p {
  text-align: left;
}

.cate-dropdown__content {
  width: 74%;
  height: 275%;
  padding: 0 24px;
  display: none;
  flex-direction: column;
  gap: 12px;
  position: absolute;
  left: 25%;
  top: 5%;
}

.cate-dropdown__item:hover {
  background-color: var(--bg-white-o80);
  border-radius: 8px;
  text-align: left;
}

.cate-dropdown__item img {
  width: 40px;
  height: 40px;
  padding: 4px;
  object-fit: contain;
}


.cate-dropdown__title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}

.cate-dropdown__title a {
  text-decoration: none;
  display: flex;
  gap: 4px;
}

.cate-dropdown__title p,
.cate-dropdown__title span {
  color: var(--primary-color-2);
}

.cate-dropdown__product {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 12px;
}

.cate-dropdown__product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.cate-dropdown__product a {
  padding: 8px;
  width: 23%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  color: var(--black);
}

.cate-dropdown__product a:hover {
  box-shadow: inset 0px 0px 0px 1px var(--primary-color-2);
  border-radius: 8px;
  background-color: var(--bg-gray);
}

.cate-dropdown__product-name {
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cate-dropdown__product-price {
  width: 100%;
  text-align: left;
  font-weight: 500;
}

.cate-dropdown__product-price del {
  font-weight: 400;
  color: var(--del-gray);
}

.cate-dropdown__product-rating {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.product__not-found {
  width: 100%;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.product__not-found img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.cate-dropdown__product-rating span {
  font-variation-settings: 'FILL' 1;
  font-size: 1.25rem;
  color: var(--primary-color-5);
}

.header__nav a.help--disable {
  display: none;
  align-items: center;
}

.header__nav a.noti--disable {
  display: none;
  align-items: center;
}

.header__nav--disable {
  display: none;
  justify-content: flex-end;
  gap: 8px;
}

.header__nav--disable .material-symbols-outlined {
  font-size: 1.5rem;
}

/* 1024px - Mini PC */
@media only screen and (max-width: 64rem) {
  .dropdown-noti__content-container {
    width: 360px;
    margin-left: -260px;
  }

  .cate-dropdown__product a {
    width: 31%;
  }

  .dropdown-noti__content-container {
    margin-left: -270px;
  }

  .header__search-btn {
    width: 20%;
  }

  .header__menu {
    gap: 12px;
  }

  .menu__item {
    padding: 12px 2px;
  }
}

/* 768px - Tablet */
@media only screen and (max-width: 48rem) {
  .header {
    height: 140px;
    font-size: 0.8125rem;
  }

  .header__container {
    width: 90%;
  }

  .header__nav-container {
    width: 90%;
  }

  .header__nav {
    margin-bottom: 8px;
  }

  .header__logo {
    width: 11.25rem;
  }

  .header__search-bar {
    width: 70%;
    height: 90%;
    border-radius: 8px 0 0 8px;
    margin-left: 5%;
  }

  .header__search-btn {
    width: 18%;
  }

  .header__main .material-symbols-outlined {
    font-size: 2rem;
  }

  .header__main .header__search-btn .material-symbols-outlined {
    font-size: 1.5rem;
  }

  .header__support-info {
    gap: 10px;
  }

  .header__cart__number-badge {
    left: -1.25rem;
    top: -0.875rem;
  }

  .header a,
  .header p {
    font-size: 0.8125rem;
  }

  .header__menu {
    width: 90%;
  }

  .header__cate-dropdown {
    min-height: 450px;
  }

  .cate-dropdown__product a {
    width: 31%;
  }

  .cate-dropdown__content-wrapper {
    gap: 8px;
  }

  .menu__item {
    height: 40px;
    padding: 8px 0;
  }

  .cate-dropdown__product-rating span {
    font-size: 0.8125rem;
  }

  .header__cart__number-badge {
    left: 1.5rem;
    top: -0.7rem;
  }

  .dropdown-noti__content-container {
    margin-left: -275px;
  }
}

/*Responsive-tablet-portrait*/
@media only screen and (max-width: 40rem) {
  .header {
    height: 130px;
    font-size: 0.8125rem;
  }

  .header__nav {
    padding: 6px 0;
  }

  .header__nav-container {
    width: 90%;
  }

  .header__container {
    width: 90%;
  }

  .header__logo {
    display: none;
  }

  .header__search-bar {
    width: 75%;
    margin-left: 0;
  }

  .header__search-btn {
    width: 12%;
    margin-right: 4%;
  }


  .header__support-info {
    display: none;
  }

  .header__about-account .header__nofitications {
    display: none;
  }


}

/*Responsive-smartphone*/
@media only screen and (max-width: 26rem) {
  .header {
    height: 112px;
  }

  .header__nav {
    height: 44px;
  }

  .header__nav a {
    font-size: 0.875rem;
  }

  .header__nav--disable {
    display: flex;
  }

  .header__logo--top {
    display: block;
  }

  .header__search-bar {
    width: 90%;
    height: 75%;
    margin-left: 0;
    margin-right: 0;
  }

  .header__search-btn {
    width: 20%;
  }

  .header__main .header__search-btn .material-symbols-outlined {
    font-size: 1.25rem;
  }

  .header__support-info {
    display: none;
  }

  .header__about-account .header__nofitications {
    display: none;
  }

  .header__search-btn .material-symbols-outlined {
    font-size: 1.25rem;
  }

  .header__cart .material-symbols-outlined {
    font-size: 1.8125rem;
  }

  .header__menu {
    display: none;
  }

  .header__nav a.help--disable {
    display: flex;
  }

  .header__nav a.noti--disable {
    display: flex;
  }

  .header__auth {
    display: none;
  }

  .header__cart__number-badge {
    left: 1.8rem;
  }
}