.notification__content {
  grid-area: content;
}

.notification__content--top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  border-radius: .5rem;

  background: white;
}

.notification__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}