.variant {
    width: fit-content;
    padding: 4px 8px;
    border: 1px solid var(--outline1);
    border-radius: 8px;
    text-decoration: none;
    color: var(--black);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.variant__active {
    outline: 2px solid var(--outline2);
}

.variant__active .variant__tick {
    display: block;
}

.variant:hover {
    outline: 2px solid var(--outline2);
}

.variant__tick {
    width: 20px;
    display: none;
    position: absolute;
    top: -6px;
    right: -4px;
}

.variant__image {
    width: 48px;
    object-fit: contain;
}