main {
  width: 80%;
  max-width: 1152px;
  margin: 1rem auto;

  display: grid;
  grid-template-areas: "article aside";
  grid-template-columns: 9fr 3fr;
}

main h1 {
  margin-block: 1rem .75rem
}

main h2 {
  margin-block: 2rem .75rem;
}

main h3 {
  margin-block: 2rem 1rem;
}

main p {
  margin-top: 1rem;
}

main figcaption {
  text-align: center;
}

.news-page__type {
  display: inline-block;
  padding: .25rem .75rem;
  border-radius: .75rem;

  background: var(--primary-mau0-2);
  color: white;
  font-weight: bold;
}

.news-page__date {
  font-family: monospace;
}

.img-container {
  position: relative;

  width: 100%;
  aspect-ratio: 1/1;

  margin-top: .5rem;
  padding: 2rem;
}

.img-container img {
  object-fit: cover;
}