.categoryCard {
  box-shadow: 4px 4px 8px 0 var(--black-o20);
  border: 1px solid var(--outline1);
  margin: auto 1rem;
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
  height: 98%;
  overflow: hidden;
  padding-bottom: 1.5rem;
}
.categoryCard__link-image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.categoryCard__link-name {
  font-size: 18px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.categoryCard__link {
  color: inherit;
  text-decoration: none;
}
.categoryCard__link:hover {
  opacity: 0.7;
}
