.account-information__main {
    padding: 1rem;
    border-radius: .5rem;
    background: white;
    width: 100%;
    margin: 0px;
}

.information__main {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    width: 100%;
    padding: 1rem;
}


.information-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
}
.information-item--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.information-item__info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.information-item__info p {
    font-size: 1rem;
}

.information-item__edit {
    font-size: 1.25rem;
    font-weight: 600;
    color:var(--primary-mau0-2);
}
.information-item__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.information-item__product-detail {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.information-item__product-name {
    padding: 0.6rem;
    display: flex;
    flex-direction: row;
}
.information-item__product-name h5 {
    display: flex;
    width: 20%;
}

@media only screen and (max-width: 64rem) {
    .information__status {
        padding: 12px 24px;
    }

    .information-item__product-name h5 {
        width: 25%;
    }
}

@media only screen and (max-width: 48rem) {
    .account-container {
        width: 95%;
        margin: 20px;
    }

    h5 {
        font-size: 0.875rem;
    }

    .information__status {
        padding: 12px 24px;
    }
}

@media only screen and (max-width: 26rem) {

    .information-item--top h3 {
        font-size: 16px;
    }

    .information-item__product-detail h5 {
        font-size: 14px;
    }

    .information-item__product-name {
        font-size: 0.875rem;
    }

    .information-item__product-name h5 {
        width: 35%;
    }
}