.product-review {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.review-filter {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.review-filter__group {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 8px;
}

.review-filter__item {
    cursor: pointer;
    padding: 8px 0px;
    border: 1px solid var(--outline1);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.reviews__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.reviews__pagination-div {
    display: flex;
    justify-content: flex-end;
}

.pagination {
    display: flex;
    gap: 12px;
}

.pagination__btn {
    cursor: pointer;
    width: 48px;
    height: 48px;
    border: 1px solid var(--outline1);
    border-radius: 50%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination__btn-disabled {
    cursor: default;
}

.pagination__icon {
    font-size: 1.25rem;
    color: var(--blue6);
}