.order-detail {
  width: 100%;

  display: grid;
  /* flex-direction: column; */
  grid-template-columns: 7fr 5fr;
  grid-template-areas:
    "--top --top"
    "info-receive paying-method"
    "products products";
  gap: 1rem;

  margin: 0;
}

.order-detail h2 {
  display: flex;
  gap: .25rem;
  margin-bottom: .5rem;
  align-items: center;
}

.order-detail th {
  text-align: left;
  text-wrap: nowrap;
}

.order-detail hr {
  height: 2px;

  background: var(--bg-gray);
}

.order-detail>* {
  border-radius: .5rem;
  padding: 1rem;

  background: white;
}

.order-detail--top {
  grid-area: --top;
  display: flex;
  align-items: center;
}

.order-detail__overview {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.order-detail__overview span {
  color: var(--dark-gray-70);
}

.order-detail__status {
  height: min-content;

  display: flex;
  align-items: center;
  gap: .25rem;

  font-weight: bold;
}

.order-detail__status.unpaid {
  color: rgba(44, 44, 44, 0.8);
}

.order-detail__status.delivering {
  color: rgba(2, 53, 246, 0.7);
}

.order-detail__status.finished {
  color: rgba(17, 151, 38, 0.8);
}

.order-detail__status.cancel {
  color: rgba(234, 76, 45, 0.8);
}

.order-detail__info-receive {
  grid-area: info-receive;
}

.order-detail__info-receive-data {
  margin: -.5rem;
  border-spacing: .5rem;
}

.order-detail__info-receive-data th {
  vertical-align: top;
}

.order-detail__paying-method {
  grid-area: paying-method;
}

.order-detail__products {
  grid-area: products;
}

.order-detail__products-wrapper {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: .5rem;
}

.order-detail__cost {
  float: right;

  margin: -.5rem;
  margin-top: 0;
  border-spacing: .5rem;

  line-height: 1.5rem;
}

.order-detail__cost th {
  vertical-align: bottom;
}

.order-detail__cost td:last-child {
  text-align: right;
}

.order-detail__cost tbody tr:last-child td:last-child {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--primary-mau1-1);
}

@media screen and (max-width: 1152px) {
  .order-detail {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 416px) {
  .order-detail__products {
    display: flex;
    flex-direction: column;
  }
}