/* purchase-history */
.account-purchase-history__main {
  grid-area: main;

  width: 100%;

  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  gap: 1rem;
}

.account-purchase-history__main a {
  text-decoration: none;
}

.purchase-history__purchase-item-list {
  background: transparent;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 0;
}

.skeleton__wrapper {
  width: 100%;

  padding: 1rem;
  border-radius: .5rem;
  background: white;
}

@media screen and (min-width: 417px) and (max-width: 768px) {
  .purchase-history__status-container {
    padding-inline: .5rem;
  }

  .purchase-history__status {
    padding-inline: .5rem;
    font-size: .75rem;
  }
}

@media screen and (max-width: 416px) {
  .purchase-history__status:nth-child(n+4) {
    display: none;
  }
}