/* purchase-history */
.account-purchase-history__main {
  grid-area: main;

  width: 100%;

  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  gap: 1rem;
}

.account-purchase-history__main a {
  text-decoration: none;
}

.purchase-history__purchase-item-list {
  background: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
  padding: 0;
}

.purchase-history__no-order {
  width: 100%;
  height: 100%;

  background: white;

  padding: 1rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.purchase-history__no-order-img-container {
  width: 100%;
  position: relative;
  min-height: 10rem;
}

.purchase-history__no-order-img-container img {
  object-fit: contain;
}

.purchase-history__no-order-text {
  text-align: center;
}

.purchase-history__no-order-text a:is(:link, :visited, :active) {
  /* color: var(--primary-mau0-1); */
  color: var(--dollar-red)
}

.purchase-history__no-order-text a:hover {
  /* text-decoration: underline; */
  color: red
}

.skeleton__wrapper {
  width: 100%;

  padding: 1rem;
  border-radius: .5rem;
  background: white;
}

@media screen and (min-width: 417px) and (max-width: 768px) {
  .purchase-history__status-container {
    padding-inline: .5rem;
  }

  .purchase-history__status {
    padding-inline: .5rem;
    font-size: .75rem;
  }
}

@media screen and (max-width: 416px) {
  .purchase-history__status:nth-child(n+4) {
    display: none;
  }
}