.pagination-container {
  display: flex;

  gap: 1rem;
}

.pagination-container>* {
  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .5rem;

  font-size: 1.5rem;

  background: white;
  color: black;
}

.pagination-container>span {
  background: transparent;
}

.pagination-container button:disabled {
  background: var(--white-o2);
  color: var(--black-o8);
  cursor: not-allowed;
}

.pagination-container .is-active {
  border: 2px solid var(--primary-mau0-2);
  color: var(--primary-mau0-2);

  font-weight: bold;
}