.pagination-container {
  display: flex;

  gap: 1rem;
}

.pagination-container>* {
  width: 3rem;
  height: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: .5rem;

  font-size: 1.5rem;

  background: white;
  color: black;
}

.pagination-container>span {
  background: transparent;
}

.pagination-container button:hover,
.pagination-container a:hover {
  border: 2px solid var(--primary-mau0-2);
  color: var(--primary-mau0-2);
  cursor: pointer;
  /* Specify cursor type, e.g., pointer */
  font-weight: bold;
}

.pagination-container button:disabled {
  background: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.pagination-container .is-active {
  border: 2px solid var(--primary-mau0-2);
  color: var(--primary-mau0-2);

  font-weight: bold;
}