.product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__name {
    padding-right: 10.5%;
    margin: 0;
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.rating__average {
    font-size: 1.2rem;
    font-weight: 500;
}

.product__star-group {
    display: flex;
    align-items: center;
}

.rating__stars {
    color: var(--fire-orange);
}

.rating__numbers {
    color: var(--dark-gray);
}

.product__unit-price-div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product__unit-price {
    font-size: 2.0rem;
    font-weight: 600;
    color: var(--dollar-red)
}

.product__discount-amount {
    padding: 4px;
    font-size: 0.875rem;
    background-color: var(--bg-white-o80);
    border-radius: 8px;
}

.variants {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.variants__group {
    /* width: 90%; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 12px;
}

.product__variants h3,
.product__quantity h3,
.product__total-price-div h3 {
    color: var(--dark10);
    font-size: 1.2rem;
}

.product__quantity,
.product__total-price-div {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.product__is-stock {
    color: var(--dark11);
}

.product__total-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.buy-btns {
    display: flex;
    align-items: center;
    gap: 12px;
}

.buy-btn {
    cursor: pointer;
    height: 48px;
    padding: 0px 12px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.buy-btn-icon {
    font-size: 2rem;
}

.buy-btn-text {
    font-size: 1.125rem;
}

.add-cart-btn {
    background-color: var(--blue6);
}

.cart-modal {
    width: 100vw;
    min-width: 300px;
    height: 100vh;
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-modal__bg {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: var(--bg3);
    position: absolute;
}

.cart-modal__content {
    width: 40%;
    min-width: 250px;
    height: 40%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    position: relative;
    background-color: var(--white);
    color: var(--black);
    z-index: 10001;
}

.cart-modal__image-div {
    width: 30%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.cart-modal__text {
    text-align: center;
}

.cart-modal-close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10002;
}

.modal-icon {
    font-size: 2rem;
}

.buy-now-btn {
    background-color: var(--dollar-red);
    /* background-color: #ef2e31; */
}

@media only screen and (max-width: 431px) {
    .product__star-group span {
        font-size: 1.75rem;
    }

    .rating__average {
        font-size: 1.5rem;
    }

    .product__is-stock-responsive {
        display: none;
    }

    .product__unit-price,
    .product__total-price {
        font-size: 1.75rem;
    }

    .buy-btn {
        height: 40px;
        width: 50%;
        border-radius: 6px;
    }
}

@media only screen and (max-width: 321px) {
    .product__quantity {
        gap: 0.5rem;
    }
}