.product {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__name {
    padding-right: 10.5%;
}

.rating {
    display: flex;
    gap: 8px;
}

.rating__average {
    font-weight: 500;
}

.rating__stars {
    color: var(--fire-orange);
}

.rating__numbers {
    color: var(--dark-gray);
}

.product__unit-price-div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product__unit-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.product__discount-amount {
    padding: 4px;
    font-size: 0.875rem;
    background-color: var(--bg-white-o80);
    border-radius: 8px;
}

.variants {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.variants__group {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    gap: 12px;
}

.product__quantity,
.product__total-price-div {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.product__is-stock {
    margin-left: 8px;
    color: var(--dark11);
}

.product__total-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.buy-btns {
    display: flex;
    align-items: center;
    gap: 12px;
}

.buy-btn {
    cursor: pointer;
    height: 48px;
    padding: 0px 12px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.buy-btn-icon {
    font-size: 2rem;
}

.buy-btn-text {
    font-size: 1.125rem;
}

.add-cart-btn {
    background-color: var(--blue6);
}

.cart-modal {
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-modal__bg {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: var(--bg3);
    position: absolute;
}

.cart-modal__content {
    width: 40%;
    height: 40%;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    position: relative;
    background-color: var(--white);
    color: var(--black);
    z-index: 10001;
}

.cart-modal__image-div {
    width: 30%;
    aspect-ratio: 1 / 1;
    position: relative;
}

.cart-modal-close {
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 10002;
}

.modal-icon {
    font-size: 2rem;
}

.buy-now-btn {
    background-color: var(--dollar-red2);
}

@media only screen and (max-width: 1024px) {
    .variants__group {
        grid-template-columns: repeat(2, 1fr);
    }
}