/* body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f8;
} */

/* a {
  text-decoration: none;
} */

.search-result__container {
  width: 80%;
  max-width: 1152px;
  display: flex;
  flex-direction: column;
  padding: 0 0 24px;
  /* margin-top: 178px; */
}

.search-result__heading--disable {
  display: none;
  position: fixed;
  width: 100%;
  max-width: 1152px;
  top: 112px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 13px;
  border-bottom: 0.5px solid #d9d9d9;
  z-index: 998;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.search-result__sort--disable {
  display: flex;
  align-items: center;
  padding: 4px 24px 8px 24px;
}

.search-result__sort--disable:hover {
  cursor: pointer;
  color: var(--primary-color-2);
  border-bottom: 1px solid var(--primary-color-2);
  padding: 4px 24px 7px 24px;
}

.search-result__sort--disable.active {
  display: none;
  color: var(--primary-color-1);
  border-bottom: 1px solid var(--primary-color-1);
  padding: 4px 24px 7px 24px;
}

.search-result__heading--disable
  .search-result__sort--disable
  .material-symbols-outlined {
  font-size: 1.125rem;
  padding-left: 6px;
  margin: 0;
}

.search-result__heading--disable .material-symbols-outlined {
  font-size: 1.5rem;
  margin-right: 12px;
}

.search-result__filter {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
}

.search-result__filter-normal__content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px 8px 16px;
  border: solid 1px var(--outline-gray);
  border-radius: 12px;
  gap: 4px;
}

.search-result__filter-normal__content:hover {
  cursor: pointer;
  color: var(--primary-color-1);
  border-color: var(--primary-color-1);
}

.search-result__filter-normal__content .material-symbols-outlined {
  margin-top: 4px;
  font-size: 1.125rem;
}

.search-result__filter-normal {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
  margin-bottom: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: max-content;
  max-width: 600px;
  min-width: 382px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 8px 8px;
  z-index: 999;
  top: 120%;
  height: auto;
  font-size: 0.875rem;
  flex-direction: column;
}

.filter-label.active {
  color: var(--primary-color-1);
  border-color: var(--primary-color-1);
}

.filter-label {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  border: solid 1px var(--outline-gray);
  border-radius: 8px;
  text-align: center;
}

.filter-label:hover {
  cursor: pointer;
  color: var(--primary-color-1);
  border-color: var(--primary-color-1);
}

.filter-label.active {
  border-color: var(--primary-color-1);
  color: var(--primary-color-1);
}

.filter-option {
  display: none;
}

.filter-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px;
  gap: 12px;
}

.filter-dropdown__button {
  display: flex;
  margin: 0 auto;
  gap: 12px;
  padding: 24px 0;
}

.filter-dropdown__button button.btn--filled.pri,
.filter-dropdown__button button.btn--outlined.pri {
  font-size: 0.875rem;
  padding: 0;
  height: 44px;
  width: 140px;
}

#btn-filter:hover {
  cursor: pointer;
  color: var(--primary-color-2);
}

.filter-popup {
  display: none;
  position: fixed;
  padding-top: 64px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  overflow-y: auto;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease;
  transform: translateX(-100%);
}

.filter-popup.show {
  display: block;
  transform: translateX(0);
}

.filter-popup__main {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fafafa;
  border-radius: 8px 0 0 8px;
  width: 82%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  overflow-y: auto;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
}

.filter-popup.show .filter-popup__main {
  transform: translateX(0);
}

.filter-popup__section__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 12px;
  width: 100%;
  display: flex;
  gap: 2%;
}

.filter-popup-options {
  width: 49%;
  margin-bottom: 8px;
}

.filter-popup__btn {
  display: flex;
  margin: 12px 0;
  justify-content: flex-end;
  gap: 12px;
}

.filter-popup__btn .btn.btn--filled.pri,
.filter-popup__btn .btn.btn--outlined.pri {
  font-size: 0.875rem;
}

.search-result__filter-brand {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 12px;
}

.search-result__filter-normal__title,
.search-result__filter-brand__title {
  font-weight: 600;
}

.search-result__filter-brand__img {
  object-fit: cover;
  height: 40px;
  border: solid 1px var(--outline-gray);
  border-radius: 24px;
  padding: 12px 16px;
}

.search-result__filter-brand__img:hover {
  cursor: pointer;
  border-color: var(--primary-color-1);
  /* background-color: rgb(42, 126, 228, 0.1); */
}

.search-result__main {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  padding: 12px;
  margin-top: 24px;
}

.search-result__main__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.search-result__highlight {
  color: var(--primary-color-1);
  font-size: 18px;
  font-weight: 600;
}

.search-result__key {
  font-style: italic;
}

.search-result__form-check {
  align-items: center;
  display: flex;
  padding: 0;
}

.search-result__form-check-disable {
  align-items: center;
  display: flex;
  padding: 0;
}

.search-result__form-check-disable__group {
  margin-top: 8px;
  display: none;
  flex-direction: row;
  gap: 24px;
  font-size: 13px;
}

.form-check-input {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  margin-top: 0;
}

.form-check-input:hover {
  cursor: pointer;
}

.form-check-input:checked {
  background-color: var(--primary-color-1);
  border-color: var(--primary-color-1);
}

.form-check-input[type="checkbox"] {
  border-radius: 4px;
}

.search-result__sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px var(--outline-gray);
  border-radius: 12px;
  gap: 8px;
  padding: 8px 12px 8px 16px;
}

.search-result__sort:hover {
  cursor: pointer;
  border-color: var(--primary-color-1);
  color: var(--primary-color-1);
}

.search-result__sort-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.search-result__sort-content .material-symbols-outlined {
  margin-top: 4px;
  font-size: 1.125rem;
}

.dropdown-content--sort {
  display: none;
  position: absolute;
  top: 390px;
  right: 150px;
  background-color: var(--white-gray);
  width: 240px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 8px 8px;
  z-index: 999;
  height: auto;
  flex-direction: column;
}

.sort-label {
  color: black;
  padding: 16px 12px;
  text-decoration: none;
  display: block;
}

.sort-label:hover {
  cursor: pointer;
  color: var(--primary-color-1);
  border-color: var(--primary-color-1);
}

.dropdown-content--sort hr {
  border: 0.5px solid var(--outline-gray);
  margin: -4px 12px;
}

.sort-option {
  display: none;
}

.search-result__main-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 1.2%;
  margin-top: 24px;
}

.search-results--empty {
  display: flex;
  justify-content: center;
}

.search-results--empty img {
  object-fit: contain;
  width: 50%;
}

@media only screen and (max-width: 64rem) {
  .dropdown-content--sort {
    top: 67%;
    right: 11%;
  }
}

/*Responsive-tablet*/
@media only screen and (max-width: 48rem) {
  .search -result__container {
    width: 90%;
    margin-top: 164px;
  }

  .search -result__filter-normal {
    gap: 12px;
  }

  .search -result__filter-normal__content p {
    font-size: 0.8125rem;
  }

  .search -result__filter-normal__content {
    padding: 4px 8px 4px 12px;
    border-radius: 8px;
  }

  .search -result__form-check {
    font-size: 12px;
  }

  .search -result__main__count {
    font-size: 14px;
  }

  .search -result__filter-brand__img {
    height: 35px;
  }

  .search -result__sort p {
    font-size: 0.8125rem;
    border-radius: 8px;
  }

  .search -result__sort {
    gap: 4px;
    padding: 4px 8px 4px 12px;
    border-radius: 8px;
  }

  .dropdown-content--sort {
    top: 59.5%;
    right: 6%;
  }

  .form-check-input {
    width: 16px;
    height: 16px;
  }

  .search -result__form-check {
    display: none;
  }

  .search -result__filter-normal__title,
  .search -result__filter-brand__title {
    font-weight: 500;
    font-size: 14px;
  }

  .search -result__filter-brand {
    margin-top: 6px;
  }

  .search -result__filter-brand {
    gap: 8px;
  }

  .search -result__form-check-disable__group {
    display: flex;
  }

  .search -result__highlight {
    font-size: 16px;
  }

  .dropdown-content--sort {
    width: 180px;
    font-size: 0.8125rem;
  }

  .filter-label {
    padding: 8px;
    font-size: 0.75rem;
  }

  .filter-dropdown__button button.btn--filled.pri,
  .filter-dropdown__button button.btn--outlined.pri {
    font-size: 0.75rem;
    height: 40px;
    width: 120px;
  }

  .search -result__main-card {
    gap: 2%;
  }
}

/*Responsive-smartphone*/
@media only screen and (max-width: 26rem) {
  .search -result__container {
    width: 100%;
    margin-top: 112px;
  }

  .search -result__filter {
    display: none;
  }

  .search -result__main {
    margin: 0;
    border-radius: 0;
  }

  .search -result__main__count {
    display: none;
  }

  .search -result__sort {
    display: none;
  }

  .search -result__heading--disable {
    display: flex;
    padding: 12px 12px 0 12px;
  }

  .search -result__form-check-disable__group {
    display: none;
  }

  .search -result__main-card {
    margin-top: 16px;
  }

  .product-details h4 {
    font-size: 1rem;
  }

  .search-results--empty img {
    width: 80%;
  }

  .filter-label {
    padding: 16px;
    font-size: 0.875rem;
  }

  .search -result__filter-brand__content {
    width: 49%;
  }

  .search -result__filter-brand__img {
    width: 100%;
    height: 50px;
    padding: 16px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 6px;
  }

  .search -result__main {
    margin-top: 58px;
  }

  .search -result__sort--disable.active {
    display: block;
  }
}
