/* style của phần này nằm trong page.css của edit-information
do chưa tìm ra cách fix */
/* purchase-item */
.purchase-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 24px;
}

.purchase-item__element a {
    text-decoration: none;
    color: black;
}

.purchase-item--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.purchase-item__info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.purchase-item__info p {
    font-size: 1rem;
}

.purchase-item__status-container {
    display: flex;
    gap: 4px;
    align-items: center;
}

.purchase-item__status {
    font-weight: 500;
    font-size: 1rem;
}

.purchase-item__status-container.cancel {
    color: var(--dollar-red2);
}

.purchase-item__status-container.finished {
    color: var(--green);
}

.purchase-item__status-container.delivering {
    color: var(--primary-color-2);
}

.purchase-item__status-container.unpaid {
    color: var(--dark7);
}

.purchase-item__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.purchase-item__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.purchase-item__element--left {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-items: center;
}

.purchase-item__product-img {
    object-fit: contain;
    width: 80px;
}

.purchase-item hr {
    margin: 12px 0;
    border: 0.5px solid #eaeaea;
}

.purchase-item__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;
    color: var(--fire-orange);
}

.purchase-item__product-detail {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.purchase-item__variant {
    color: var(--dark-gray-o50);
    font-size: 0.875rem;
}

/* small {
    font-size: 0.875rem;
    color: var(--dark-gray-o50);
    text-decoration: line-through;
} */

.purchase-item--bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: white;
    border-radius: 8px;
    align-items: flex-end;
}

.purchase-item__total {
    display: flex;
    gap: 12px;
    align-items: center;
}

.purchase-item__total p {
    font-weight: 500;
}

.purchase-item__total h2 {
    font-weight: 700;
}

.purchase-item__total-price {
    color: var(--primary-color-1);
}

.purchase-item__button {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.purchase-item__button--right {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    width: 100%;
}

.purchase-item__button .btn.btn--outlined.pri,
.purchase-item__button .btn.btn--filled.pri {
    width: 148px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    text-align: center;
    line-height: 1.15;
}

.purchase-item__button .btn.btn--outlined.pri.cancel {
    border-color: var(--dollar-red);
    color: var(--dollar-red);
}

.purchase-item__button .btn.btn--outlined.pri.cancel:hover {
    border-color: var(--dollar-red);
    background-color: var(--dollar-red);
    color: white;
}

.purchase-item__button .btn.btn--filled.pri.disable {
    background-color: var(--dark7);
}

.purchase-item__button .btn.btn--filled.pri.disable:hover {
    cursor: default;
    box-shadow: none;
}

.purchase-item__total-price.cancelled {
    color: gray;
}

/* side-bar */
#sidebar {
    display: flex;
    flex-direction: column;
    width: 345px;
    background: white;
    transition: .3s ease;
    overflow-x: hidden;
    border-radius: 8px;
}

#sidebar .material-symbols-outlined {
    margin-right: 8px;
}


span.image-container img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.avatar {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.image-container {
    margin-bottom: 5px;
}

.user_name {
    color: #333;
    text-align: center;
}

/* Định dạng màu đỏ cho menu active */
#sidebar .side-menu__ele.active a {
    color: var(--primary-color-1);
}

#sidebar .side-menu.top li a:hover {
    color: var(--primary-color-2);
}

#sidebar .side-menu li a:hover {
    color: var(--primary-color-2);
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 20px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

.sidebar-account__popup {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto;
}

.sidebar-account__popup .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.sidebar-account__popup .material-symbols-outlined:hover {
    color: var(--primary-color-2);
}

.sidebar-account__popup .popup__main {
    position: relative;
    background-color: #FAFAFA;
    border-radius: 8px;
    margin: auto;
    width: 55%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px;

}

.sidebar-account__popup .btn-close {
    position: relative;
    color: var(--primary-color-1);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar-account__popup .popup__content-main {
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 12px;
}

.sidebar-account__popup .popup--top {
    display: flex;
    justify-content: space-between;
}

.sidebar-account__popup .popup__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar-account__popup .popup__subtitle {
    margin: 4px 0;
}


.sidebar-account__popup .popup__content-title {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-account__popup .popup__main--right {
    width: 100%;
}

.logout_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 300px;
}

.logout_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-account__popup .popup__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    gap: 12px;
}

.sidebar-account__popup .popup__button button.btn--filled.pri {
    padding: 0 36px 0 36px;
}

.sidebar-account__popup .popup__button button.btn--outlined.pri {
    padding: 0 36px 0 36px;
}

.btn-logout {
    display: flex;
    align-items: center;
    color: red;
}

.btn-logout:hover {
    cursor: pointer;
    color: var(--dollar-red);
}

.sidebar-account__popup .btn.btn--outlined.pri.btn-cancel {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 48rem) {

    .logout_img {
        height: 250px;
    }

}

@media only screen and (max-width: 26rem) {
    #sidebar {
        display: none;
    }
}

/* information */
/* body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-white);
    box-sizing: border-box;
} */

/* a {
    text-decoration: none;
} */

.account-container {
    width: 80%;
    max-width: 1152px;
    padding: 0;
    margin: 24px;
    display: flex;
    gap: 12px;
    align-items: flex-start;
}

.purchase__main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.purchase-item--top {
    margin-bottom: 20px !important;
}

.purchase__status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 36px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}

.purchase-item__status {
    font-size: 1.25rem;
    font-weight: 600;
}

.purchase-item__status a {
    color: var(--primary-color-1)
}

.purchase-item__product-detail {
    width: 100%;
}

.purchase-item__product-detail h5 {
    display: inline !important;
    margin-right: 10px;
}

.purchase-item__product-name {
    padding: 8px;
}

.purchase-item__product-detail {
    gap: 0 !important;
}

.purchase-item__product-detail>h5 {
    margin-bottom: 5px;
}

.purchase-item__product-name {
    display: flex;
    flex-direction: row;
}

.purchase-item__product-name h5 {
    display: flex;
    width: 20%;
}

/*Responsive-small-laptop*/
@media only screen and (max-width: 64rem) {
    .purchase__status {
        padding: 12px 24px;
    }

    .purchase-item__product-name h5 {
        width: 25%;
    }
}

/*Responsive-tablet*/
@media only screen and (max-width: 48rem) {
    .account-container {
        width: 95%;
        margin: 20px;
    }

    /* h5 {
        font-size: 0.875rem;
    } */

    .purchase__status {
        padding: 12px 24px;
    }
}

@media only screen and (max-width: 26rem) {
    .account-container {
        width: 90%;
        margin-top: 12px;
        padding: 0;
    }

    .purchase-item--top h3 {
        font-size: 16px;
    }

    .purchase-item__product-detail h5 {
        font-size: 14px;
    }

    .purchase-item__product-name {
        font-size: 0.875rem;
    }

    .purchase-item__product-name h5 {
        width: 35%;
    }
}

/* edit-information */
.userName {
    width: 60%;
    border-bottom: 2px solid #eaeaea;
}

.userBirth {
    width: 60%;
    border-bottom: 2px solid #eaeaea;
}

.userSex {
    width: 60%;
    border-bottom: 2px solid #eaeaea;

}

.userEmail {
    width: 60%;
    border-bottom: 2px solid #eaeaea;

}

.userPhone {
    width: 60%;
    border-bottom: 2px solid #eaeaea;

}

.userAddress {
    width: 60%;
    border-bottom: 2px solid #eaeaea;

}

.purchase-item__product-name {
    display: flex;
    flex-direction: row;
}

.purchase-item__product-name label {
    padding: 8px;
    font-size: 1rem;
    font-weight: 500;
    width: 20%;
}

#userSex {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-indent: 4px;
}

#userBirth {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    gap: 12px;
    padding: 0 12px 0 0;
    text-indent: 4px;
}

.popup__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    gap: 12px;
}

.popup__button a.btn.btn--outlined.pri.btn-cancel-edit {
    width: 76.51px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 24px;
}

.purchase-item__product-detail input {
    height: 40px;
    font-size: 16px;
    outline-color: var(--primary-color-1);
}


.purchase-item__product-detail input[type="date"] {
    cursor: pointer;
}

.purchase-item__product-detail input {
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.purchase-item__product-name {
    position: relative;
    margin-bottom: 12px;
}

.userBirth span {
    display: flex;
    cursor: pointer;
    padding: 8px;
    height: 40px;
    width: 100%;
    align-items: center;
}

.purchase-item__product-name .error-message {
    display: flex;
    color: red;
    font-size: 13px;
    position: absolute;
    bottom: -7px;
    justify-content: center;
    margin-top: 8px;
    text-indent: 8px;
}

span.red-start {
    color: red;
}

/*Responsive-small-laptop*/
@media only screen and (max-width: 64rem) {
    .purchase-item__product-name label {
        width: 30%;
    }
}

@media only screen and (max-width: 48rem) {
    .purchase-item {
        padding: 12px;
    }

    .purchase-item__product-name label {
        width: 35%;
    }
}

@media only screen and (max-width: 26rem) {
    .purchase-item__product-detail input {
        font-size: 14px;
    }

    #userSex {
        font-size: 0.875rem;
    }

    /* button {
        height: 42px !important;
    } */

    button.btn--outlined.pri {
        font-size: 0.875rem !important;
        padding: 0 18px !important;
    }

    button.btn--filled.pri {
        font-size: 0.875rem !important;
        padding: 0 18px !important;
    }

    .purchase-item__product-name .error-message {
        margin-left: -18%;
    }

    .purchase-item__product-name label {
        width: 47%;
        align-items: center;
    }

    .purchase-item__product-name input{
        width: 100%;
    }

    .popup__button a.btn.btn--outlined.pri.btn-cancel-edit {
        height: 42px;
        width: 60.95px;
        text-align: center;
        font-size: 0.875rem;
        padding: 0px 18px;
    }
}