.product-page-container {
  margin-top: 0;
  /* margin-left: 300px; */
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

.product-page-container__title {
  width: 100%;
}

.product-page-head {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.5rem;
}

.product-page-head__item {
  width: 100%;
  display: flex;
  gap: 0.75rem;
}

.product-page-head__item--left {
  justify-content: flex-start;
}

.product-page-head__item--right {
  justify-content: flex-end;
}

.product-page__btn {
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--white);
}

.product-page__btn-import,
.product-page__btn-export {
  background-color: var(--green4);
}

.product-page__btn-add {
  background-color: var(--blue6);
}

.product-page__btn-delete {
  background-color: var(--red12);
}

.product-page__btn-update {
  background-color: var(--blue12);
}

.product-page-content {
  width: 100%;
}

.product-page-table-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem 0 1rem;
}

.product-page-search {
  width: 25%;
  height: 40px;
  border: 1px solid var(--outline1);
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
}

.product-page-search:focus-within {
  outline: 2px solid var(--blue6);
}

.product-page-search__input {
  width: 85%;
  height: 100%;
  padding: 0.5rem 1rem;
  outline: none;
}

.product-page-search__icon {
  width: 15%;
  height: 100%;
  border-left: 1px solid var(--outline1);
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-page-search__icon:hover {
  cursor: pointer;
  background-color: var(--bg-white);
}

.product-page-table {
  width: 100%;
  border-collapse: collapse;
}

.product-page-table__title,
.product-page-table__text {
  padding: 0.25rem;
  border: 1px solid var(--outline1);
  text-align: center;
}

.product-page-table__product-id {
  width: 20%;
}

.product-page-table__product-name {
  width: 30%;
  padding: 0 1.5rem;
  text-align: left;
}

.product-page-table__product-price {
  width: 12%;
}

.product-page-table__product-variants {
  width: 10%;
}

.product-page-table__product-category {
  width: 12%;
}

.product-page-table__product-action {
  width: 8%;
}

.product-page__btn-small {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
}

.product-page__btn-small-delete {
  background-color: var(--red12);
  color: var(--white);
}

.product-page__save-btn {
  background-color: var(--green4);
}

.product-page-table__product-action-edit {
  cursor: pointer;
  background-color: var(--blue11);
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.product-page-table__product-action-edit-btn {
  cursor: pointer;
  background-color: transparent;
  width: 100%;
  height: 100%;
  color: var(--white);
}

.product-page-table__image {
  padding: 0.25rem;
  border: 1px solid var(--outline1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-page-table__checkbox {
  cursor: pointer;
}

.product-page-table__action {
  cursor: pointer;
  padding: 0.5rem;
}

.product-page-table__action:hover {
  border-radius: 50%;
  background-color: var(--bg-white);
}