.product-card {
  /* width: 24%; */
  width: 19%;
  /* height: 434px; */
  height: 400px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 0;
  /* background: #fafafa; */
  background: #fff;
  margin-bottom: 12px;
  border-radius: 8px;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.product__card-main {
  /* text-decoration: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product__card--top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product__card--badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
  z-index: 999 !important;
}

.product-tumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  /* height: 200px; */
  aspect-ratio: 1/1;
  /* padding: 24px; */
  background: white;
  border-radius: 8px 8px 0 0;
  margin: auto;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  border: 4px solid #fff;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 12px;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 4px;
}


.product-details h4 {
  font-weight: 500;
  display: -webkit-box;
  /* Thêm đối tượng flexbox */
  -webkit-line-clamp: 2;
  /* Số lượng dòng hiển thị tối đa */
  -webkit-box-orient: vertical;
  margin-bottom: 4px;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
  height: auto;
  /* Bỏ thuộc tính chiều cao cứng */
  max-height: none;
  /* Bỏ thuộc tính chiều cao tối đa */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  /* Cho phép văn bản xuống dòng */
}



.product-details h4:hover {
  color: var(--primary-mau4-2);
}

.product-details p {
  /* font-size: 1rem; */
  line-height: 22px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding: 14px 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-price {
  color: var(--dollar-red2);
  font-weight: 700;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 8px;
  color: var(--dark7);

}

.product-rate {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-bottom: 4px;
  /* font-size: 1.25rem; */
  color: orange;
}

@media only screen and (max-width: 1024px) {
  .product-card {
    width: 32%;
    height: 414px;
  }
}

@media only screen and (max-width: 768px) {
  .product-card {
    width: 32%;
    height: 300px;
  }

  .product-tumb {
    width: 70%;
    padding: 18px 12px 12px 12px;
  }


  .product-details p {
    /* font-size: 0.875rem; */
    margin-bottom: 4px;
    line-height: 18px;
  }

  .product-bottom-details {
    padding: 12px;
  }

  .badge {
    top: 18px;
    text-transform: uppercase;
    /* font-size: 12px; */
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
  }
}

@media only screen and (max-width: 416px) {
  .product-card {
    width: 49%;
    height: 316px;
  }

  .search-result__main-card {
    gap: 2%;
  }

  .product-details p {
    display: none;
  }

  .product-tumb {
    width: 80%;
  }
}