.product-card {
  /* width: 24%; */
  width: 19%;
  /* height: 434px; */
  height: 380px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 0;
  background: #fafafa;
  margin-bottom: 12px;
  border-radius: 8px;
}

.product-card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.product__card-main {
  text-decoration: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 200px; */
  height: 60%;
  padding: 8px;
  background: white;
  border-radius: 8px 8px 0 0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.product-details p {
  text-align: start;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 4px;
}

.product-details h4 {
  font-weight: 500;
  display: block;
  margin-bottom: 4px;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1rem;
}

.product-details h4:hover {
  color: var(--primary-mau4-2);
}

.product-details p {
  font-size: 1rem;
  line-height: 22px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding: 14px 12px;
}

.product-bottom-details .product-price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.product-price {
  font-size: 20px;
  color: #ea4c2d;
  font-weight: 700;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
  color: var(--dark7);
}

.product-rate {
  display: flex;
  flex-direction: row;
  gap: 2px;
  margin-bottom: 4px;
  font-size: 1.25rem;
  color: orange;
}

@media only screen and (max-width: 64rem) {
  .product-card {
    width: 32%;
  }

  .seacrh-result__main-card {
    gap: 2%;
  }

  .product-details h4 a {
    font-size: 1rem;
  }

  .product-details h4 {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 48rem) {
  .product-card {
    width: 32%;
    height: 390px;
  }

  .product-tumb {
    height: 140px;
    padding: 18px 12px 12px 12px;
  }

  .product-details h4 a {
    font-size: 14px;
  }

  .product-details p {
    font-size: 0.875rem;
    margin-bottom: 4px;
    line-height: 18px;
  }

  .product-bottom-details {
    padding: 12px;
  }

  .product-price {
    font-size: 1rem;
  }

  .product-catagory {
    margin-bottom: 4px;
    font-size: 11px;
  }

  .badge {
    top: 18px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
  }

  .product-rate .material-symbols-outlined {
    font-size: 1.125rem;
  }
}

@media only screen and (max-width: 26rem) {
  .product-card {
    width: 49%;
    height: 332px;
  }

  .seacrh-result__main-card {
    gap: 2%;
  }

  .product-details h4 a {
    font-size: 0.75rem;
  }

  .product-details p {
    display: none;
  }

  .product-catagory {
    font-size: 0.625rem;
  }
}
