.header {
  width: 100vw;
  position: sticky;
  top: -40px;
  left: 0;
  right: 0;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  box-shadow: 0 0 .5rem var(--black-o20);
}

.header a {
  text-decoration: none;
}

.header__container {
  width: min(80%, 1152px);
}

/* 1024px - Mini PC */
@media only screen and (max-width: 1024px) {
  .header__container {
    width: 90%;
  }
}

/* 76.75rem - Tablet */
@media only screen and (max-width: 768px) {
  .header {
    font-size: 0.8125rem;
  }

  .header__container {
    width: 90%;
  }

  .header a,
  .header p {
    font-size: 0.8125rem;
  }
}

/*Responsive-smartphone*/
@media only screen and (max-width: 480px) {
  .header__container {
    width: 100%;
  }

  .header__nav a {
    font-size: 0.875rem;
  }

  .header__search-bar {
    width: 90%;
  }

  .header__search-btn {
    width: 20%;
  }

  .header__menu {
    display: none;
  }

  .header__auth {
    display: none;
  }

  .header__cart__number-badge {
    left: 1.8rem;
  }
}