.header {
  width: 100vw;
  position: sticky;
  top: -2.5rem;
  left: 0;
  right: 0;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: white;
  box-shadow: 0 0 .5rem var(--black-o20);
}

.header a {
  text-decoration: none;
}

.header__container {
  width: 80%;
  max-width: 1152px;
}

/* 1024px - Mini PC */
@media only screen and (max-width: 1025px) {
  .header__container {
    width: 90%;
  }
}

/* 76.75rem - Tablet */
@media only screen and (max-width: 769px) {}

/*Responsive-smartphone*/
@media only screen and (max-width: 417px) {
  .header__container {
    width: 100%;
    padding-inline: 1rem;
  }
}