.news__link {
  text-decoration: none;
  color: black;

  display: block;
  border: 1px solid rgba(white, 0.2);
}

.news__container {
  grid-area: 'news-item';

  overflow: clip;
  border-radius: .5rem;

  background-color: white;

  transition: .2s ease-in-out;
}

.news__container:hover {
  box-shadow: 0 9px 11.5px -3px rgba(0, 0, 0, 0.1),
    0 18.5px 28.5px 0 rgba(0, 0, 0, 0.034),
    0 7px 37.5px 0 rgba(0, 0, 0, 0.026);

  transform: translateY(-.25rem);
}

.news__content-container {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.news__type {
  width: min-content;
  text-wrap: nowrap;

  padding: .25rem .75rem;
  border-radius: .75rem;

  background: var(--primary-mau0-2);
  color: white;
  font-weight: bold;
}

.news__name {
  height: 2.75em;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--primary-mau0-2);
}

.news__container:hover .news__name {
  text-decoration: underline;
}

.news__author {
  white-space: nowrap;
}

.news__info>address {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news__info time {
  font-family: monospace;
}

.news__short-description {
  height: 2.5em;

  margin-top: 1.5rem;
  line-height: 1.25em;

  overflow: hidden;
  text-overflow: ellipsis;
}

.news__cover-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

.news__container img {
  transition: .2s ease-in-out;
  object-fit: cover;
}
