/* .wrapper-carousel {
    width: 100%;
    position: relative;

} */

.wrapper-carousel {
    /* display: flex; */
  }

.wrapper-carousel .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 16px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}
