.review {
  display: flex;
  flex-direction: column;

  gap: 1rem;
}

.review h2 {
  border-radius: .5rem;
  padding: 1rem;
  display: inline-block;

  background: white;
}

.review-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.review-item {
  border-radius: .5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  background: white;
}

.product-container {
  display: flex;
  gap: 1rem;
}

.product__img-container {
  width: 10rem;
  aspect-ratio: 1/1;
  position: relative;
}

.product__img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product__detail {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.review__rating {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.review__star-rating>span {
  color: var(--yellow5);
  font-size: 1.5rem;
  cursor: pointer;
}

.image-upload-container input {
  display: none;
}

.image-upload-container label {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: .5rem 1rem;
  gap: .5rem;
  border-radius: .5rem;
  border: 2px solid black;

  cursor: pointer;
}

textarea {
  width: 100%;
  background: var(--bg-white);
  padding: 1rem;
  border-radius: .5rem;
  border: none;
  outline: none;
  resize: none;
  font-family: unset;
  font-size: 1rem;
}