.popup__button{
  display: flex;
  justify-content: center;
}
.btn-cancel {
  padding: 6px 10px;
  margin: 12px 0;
  margin-right:auto;
  border: 1px solid black; 
  cursor: pointer;
  width: 40%;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s;
}

.btn-logout {
    background: var(--dollar-red);
    color: white;
    padding: 12px 10px;
    margin: 12px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}