.main-container {
    width: 100%;
    box-shadow: 0 2px 7px #dfdfdf;
    display: flex;
    justify-content: center;
    align-items: center;
}

.not-found-container {
    width: 50%;
    max-width: 500px;
    min-width: 240px;
    aspect-ratio: 1 / 1;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.not-found__image-div {
    position: relative;
    width: 60%;
    aspect-ratio: 1 / 1;
}

.not-found__text {
    width: 80%;
    text-align: center;
    font-weight: 600;
}

.not-found__button {
    padding: 8px 20px;
    border-radius: 48px;
    background-color: var(--blue6);
    color: var(--white);
}


@media only screen and (max-width: 431px) {
    .not-found-container {
        width: 90%;
    }
}

@media only screen and (max-width: 326px) {
    .not-found-container {
        width: 100%;
        gap: 4px;
    }

    .not-found__image-div {
        width: 50%;
    }
}