.product-buy-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product__unit-price-div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.product__unit-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.product__discount-amount {
    padding: 4px;
    font-size: 0.875rem;
    background-color: var(--bg-white-o80);
    border-radius: 8px;
}

.variants {
    padding-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.variants__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.product__quantity,
.product__total-price-div {
    padding-top: 8px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.product__is-stock {
    margin-left: 8px;
    color: var(--dark11);
}

.product__total-price {
    font-size: 1.5rem;
    font-weight: 600;
}

.buy-btns {
    display: flex;
    align-items: center;
    gap: 12px;
}

.buy-btn {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: transparent;
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 12px;
}

.buy-btn-icon {
    font-size: 2rem;
}

.buy-btn-text {
    font-size: 1.125rem;
}

.add-cart-btn {
    background-color: var(--blue6);
}

.buy-now-btn {
    background-color: var(--dollar-red2);
}