.header__main {
  width: 100%;
  max-width: 1152px;
  height: 3rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--primary-mau0-2);
}

.header__logo {
  width: clamp(10rem, 20vw, 13rem);
}

.header__cart-container {
  text-decoration: none;
  color: var(--primary-mau0-2);
}

.header__cart {
  display: flex;
  align-items: center;
  position: relative;
}

.header__cart span {
  font-size: 3rem;
}

.header__cart span.header__cart-quantity {
  position: absolute;
  top: -.5rem;
  right: -0.25rem;
  min-width: 0.6875rem;

  padding: 0 .3rem;
  border-radius: 2.75rem;
  border: 0.125rem solid var(--white);

  text-align: center;
  color: var(--white);
  background-color: var(--dollar-red);
  font-size: 0.625rem;
  font-weight: 500;
}

.dropdown-cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.dropdown-cart__content-container {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  box-shadow: 0 .5rem 1rem var(--black-o20);
  min-width: 15rem;
  border-radius: 0 0 .5rem .5rem;
  overflow: hidden;
  top: 100%;
  right: 0;

  font-size: .875rem;
}

.dropdown-cart__content {
  z-index: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.dropdown-cart__content-title {
  color: var(--dark7);
  display: flex;
  font-size: 0.8125rem;
}

.dropdown-cart:hover .dropdown-cart__content-container {
  display: flex;
}

.btn-cart {
  display: flex;
  justify-content: flex-end;
  padding: .75rem;
}

.btn-cart div.btn.btn--filled.pri {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  padding: 0 20px 2px 20px;
  height: 36px;
  border-radius: 4px;
}

.dropdown-cart__unauth-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10rem;
}

.unauth-user__img-container {
  position: relative;
  width: 5rem;
  aspect-ratio: 1/1;
}

.unauth-user__img-container img {
  object-fit: contain;
}

.unauth-user__img {
  object-fit: contain;
}

.unauth-content__cart {
  font-size: 0.875rem;
  font-weight: 400;
  color: black;
}

.unauth-content__btn a:hover {
  color: var(--primary-mau0-2);
}

.unauth-content__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  background-color: var(--outline-gray);
  border-radius: 0 0 .75rem .75rem;
}

.unauth-content__btn a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-size: 0.875rem;
  margin: 0 auto;
}

.unauth-content__btn a:hover {
  color: var(--primary-mau0-2);
}

.dropdown-cart__auth-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
}

.dropdown-cart__auth-user {}

.dropdown-cart--empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.dropdown-cart__content-title--empty {
  visibility: hidden;
  width: 100%;
  margin-left: 0px;
  padding-left: .5rem;
}

img.dropdown-cart__img--empty {
  object-fit: contain;
  margin: 24px 24px p;
  width: 100px;
}

.content__cart {
  display: inline-block;
  text-align: center;
  color: black !important;

  padding-inline: 1rem;
}

.content__cart a {
  color: var(--primary-mau0-2);
}

.content__cart a:hover {
  text-decoration: underline;
}

.empty-content__cart {
  color: black !important;
  font-size: 0.875rem;
}

.btn-cart--empty {
  visibility: hidden;
}

.dropdown-account__content-container {
  display: none;
  position: absolute;
  z-index: 1;
  width: 160px;
  border-radius: 0 0 .75rem .75rem;
  padding-top: 6px;
  margin-left: 0;
}

.dropdown-account__content {
  background-color: #f9f9f9;
  box-shadow: 0 .5rem 1rem var(--black-o20);
  z-index: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-radius: 0 0 .75rem .75rem;
  padding-bottom: 6px;
}

.dropdown-account:hover .dropdown-account__content-container {
  display: flex;
}

#btn-dropdown-account,
#btn-dropdown-purchase-history,
#btn-dropdown-logout {
  text-decoration: none;
  padding: .5rem;
  color: black;
}

#btn-dropdown-account:hover,
#btn-dropdown-purchase-history:hover,
#btn-dropdown-logout:hover {
  color: var(--primary-mau0-2);
  background-color: var(--bg-white);
}

@media screen and (max-width: 1025px) {
  .header__main {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 821px) {
  .header__main {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 431px) {
  .header__logo {
    display: none !important;
  }
}