.category-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.category__item {
    padding: 1rem 0;
    border-radius: 0.5rem;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.category__title {
    text-decoration: none;
    color: var(--black);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.category__title-text {
    text-align: center;
}

.category__title-div {
    width: 30%;
    height: 2.5px;
    border-radius: 2px;
    background-color: var(--black);
}

.sub-category {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sub-category__item {
    text-decoration: none;
    color: var(--black);
    padding: 1rem;
    border-bottom: 2px solid var(--outline1);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.category__item .sub-category__item:last-child {
    border: none;
}

.sub-category__name {
    font-size: 1.25rem;
    width: 70%;
}

.sub-category__count {
    margin-left: 0.5rem;
    color: var(--dark11);
}

.sub-category__navigate {
    width: 18%;
    display: flex;
    justify-content: flex-end;
    color: var(--dark10);
}

@media only screen and (max-width:431px) {
    .category-container {
        width: 100%;
        margin: 0;
        background-color: var(--white);
        gap: 0;
    }

    .category__item {
        padding: 0;
    }
}