.wrapper-carousel {
    width: 100%;
    position: relative;
}

.wrapper-carousel .arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    z-index: 98;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper-carousel .arrow:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper-carousel .arrow.left {
    left: 2px;
}

.wrapper-carousel .arrow.right {
    right: 2px;
}

.wrapper-carousel .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 16px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 12px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .carousel__card {
    cursor: grab;
    user-select: none;
}

.carousel .carousel__card {
    scroll-snap-align: start;
    list-style: none;
    background: var(--white);
    cursor: pointer;
    flex-direction: column;
    border-radius: 8px;
    position: relative;
    margin: 0;
    background: #fafafa;
    margin: 8px 0px;
}

.carousel .carousel__card a {
    text-decoration: none;
    color: #363636;
}

.carousel .carousel__card:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.carousel .carousel__card-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.carousel__label {
    padding: 12px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.4%;
}

.carousel__label-seemore {
    display: flex;
    align-items: center;
    color: var(--primary-color-1);
}

.carousel__label-seemore a {
    text-decoration: none;
    color: var(--primary-color-1);
    font-size: 18px;
}

.carousel__label-seemore:hover,
.carousel__label-seemore:hover a {
    color: var(--primary-color-2);
}


.carousel__card--badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.carousel .carousel__card .carousel__card--img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    padding: 24px;
    background: white;
    border-radius: 8px 8px 0 0;
}

.carousel .carousel__card--top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carousel__card .carousel__card--img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: 4px solid #fff;
}

.carousel__card-details {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.carousel__card-details p {
    text-align: start;
}

.carousel__card-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 4px;
}

.carousel__card-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.carousel__card-details h4 a:hover {
    color: #fbb72c;
}

.carousel__card-details p {
    font-size: 15px;
    line-height: 22px;
    color: #999;
}

.carousel__card-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding: 14px 12px;
}

.carousel__card-bottom-details div {
    display: flex;
    align-items: center;
    gap: 8px;
}

.carousel__card-price {
    font-size: 20px;
    color: var(--dollar-red2);
    font-weight: 700;
}

.carousel__card-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
    color: var(--dark7);
}

.carousel__card-rate {
    display: flex;
    flex-direction: row;
    gap: 2px;
    margin-bottom: 4px;
}

.carousel__card-rate .material-symbols-outlined {
    font-size: 1.25rem;
    color: orange;
}

.carousel__card-rate .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.carousel__card-rate p {
    color: var(--dark10);
}

@media screen and (max-width: 64rem) {
    .wrapper-carousel .carousel {
        grid-auto-columns: calc((100% / 3) - 8px);
    }
}

@media screen and (max-width: 48rem) {
    .carousel .carousel__card {
        height: 390px;
    }

    .carousel .carousel__card .carousel__card--img {
        height: 140px;
    }

    .carousel__card-price {
        font-size: 1rem;
    }

    .carousel__card-bottom-details {
        padding: 12px;
    }

    .carousel__card-details p {
        font-size: 0.875rem;
        line-height: 18px;
    }
}

@media screen and (max-width: 26rem) {
    .wrapper-carousel .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
        gap: 3%;
    }

    .carousel .carousel__card {
        height: 332px;
    }

    .wrapper-carousel .arrow {
        display: none;
    }

    .carousel__label-seemore a {
        font-size: 18px;
    }

    .carousel__card-price {
        font-size: 1rem;
    }

    .carousel__card-bottom-details {
        padding: 12px;
    }

    .carousel__card-details p {
        display: none;
    }

    .carousel .carousel__card .carousel__card--img {
        height: 140px;
    }

    .carousel__card--badge {
        font-size: 0.75rem;
    }
}