del {
  color: var(--del-gray);
}

.mobile-display {
  display: none;
}

input::-webkit-calendar-picker-indicator {
  opacity: 100;
}

.order-container input[type="text"]::placeholder {
  color: var(--black);
  font-size: 1rem;
}

#order-form {
  display: flex;
  width: 80%;
  flex-direction: column;
  gap: 24px;
}

.order-product,
.order-detail,
.order-pay {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
  border-radius: 8px;
  background-color: var(--white);
}

.order-product__title,
.order-product__content {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.order-product__content {
  flex-direction: column;
  gap: 12px;
}

.order-product__col-big {
  width: 30%;
}

.order-product__col {
  width: 12%;
}

.order-detail__customer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-detail__customer div {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.order-detail__input {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.order-detail__input input {
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  padding: 0px 12px;
  border: 1px solid var(--outline-gray);
  border-radius: 8px;
  font-size: 1rem;
}

.error {
  display: none;
  color: var(--red);
  font-size: 0.8125rem;
}

.order-detail__location,
.order-detail__pay-method,
.order-detail__note {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.location__input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.location__select {
  font-size: 1rem;
  color: var(--primary-color-2);
}

.location__select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMSIgaGVpZ2h0PSIxOSIgdmlld0JveD0iMCAwIDIxIDE5Ij48dGl0bGU+QXJ0Ym9hcmQgMTwvdGl0bGU+PGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZyBmaWxsPSIjMDAwIj48Zz48cGF0aCBkPSJNMCAwaDF2MTlIMFYweiIgaWQ9IlNoYXBlIiBmaWxsLW9wYWNpdHk9Ii4xNSIvPjxwYXRoIGQ9Ik0xMSA4aDEwbC01IDUtNS01eiIgZmlsbC1vcGFjaXR5PSIuNSIvPjwvZz48L2c+PC9nPjwvc3ZnPg==),
    none;
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.location__input-group input {
  width: 48%;
  height: 48px;
  box-sizing: border-box;
  padding: 0px 12px;
  border: 1px solid var(--outline-gray);
  border-radius: 8px;
  font-size: 1rem;
}

.location__input-group select {
  width: 48%;
  height: 48px;
  box-sizing: border-box;
  padding: 0px 12px;
  border: 1px solid var(--outline-gray);
  border-radius: 8px;
  font-size: 1rem;
}

/* .location__input-group datalist option {
  width: 100%;
} */

.location__select::placeholder {
  color: var(--primary-color-2) !important;
}

.note__text-area {
  width: 100%;
  height: 150px;
  resize: none;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--outline-gray);
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.pay-method__choose {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pay-method__choose div {
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.pay-method__choose div label {
  cursor: pointer;
}

.pay-method__choose div input {
  width: 20px;
  height: 20px;
  accent-color: var(--primary-color-2);
}

.order-sidebar hr {
  border: 0.5px solid #eaeaea;
}

.order-pay__coupon {
  display: flex;
  gap: 2%;
  padding: 24px;
  background-color: white;
  border-radius: 8px;
}

.order-pay__coupon input {
  width: 72%;
  height: 48px;
  box-sizing: border-box;
  padding: 0px 12px;
  border: 1px solid var(--outline-gray);
  border-radius: 8px;
  font-size: 1rem;
}

#order-pay__coupon-submit {
  display: flex;
  width: 26%;
  border: 1px solid var(--outline-gray);
  background-color: var(--outline-gray);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
}

#order-pay__coupon-submit:hover {
  cursor: pointer;
}

.order-pay__price {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
}

.order-pay__price-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.order-pay__total-del {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.order-pay__price__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}

.order-pay__price__main p {
  font-weight: 600;
}

.order-pay__price-container div p {
  width: max-content;
  text-align: right;
}

.order-pay__total {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--dollar-red);
}

.order-pay__submit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 12px;
}

.order-pay__submit button {
  cursor: pointer;
  width: 27%;
  padding: 12px;
  font-size: 1.125rem;
  font-weight: 600;
  background-color: brown;
  color: var(--white);
  border-radius: 8px;
}

.order-pay__submit button:hover {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(0, 0, 0, 0.2);
}

.order-pay__submit a {
  text-decoration: none;
  color: var(--primary-color-2);
}

/* 1024px - Mini PC */
@media screen and (max-width: 1024px) {
  .order-pay__submit button {
    width: 31%;
  }

  #order-form {
    width: 90%;
  }
}

/* 768px - Tablet */
@media screen and (max-width: 768px) {
  h2 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  label,
  p,
  del {
    font-size: 0.8125rem;
  }

  .location__input-group input,
  .order-detail__input input,
  .note__text-area,
  .location__input-group select {
    width: 100%;
    height: 40px;
    font-size: 0.875rem;
  }

  .location__input-group input::placeholder,
  .order-detail__input input::placeholder,
  .location__input-group select::placeholder {
    font-size: 0.875rem !important;
  }

  .pay-method__choose div input {
    width: 16px;
    height: 16px;
  }

  .order-pay__submit button {
    width: 36%;
    font-size: 1rem;
  }

  .order-pay {
    padding: 24px 12px;
  }

  .order-pay__coupon {
    padding: 20px 12px;
  }

  .order-pay__coupon input {
    height: 38px;
    font-size: 0.875rem;
  }
}

/* 416px - Mobile */
@media screen and (max-width: 416px) {
  h2 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  label,
  p,
  del {
    font-size: 0.8125rem;
  }

  .order-sidebar {
    display: none;
  }

  .location__input-group input,
  .order-detail__input input,
  .note__text-area {
    font-size: 0.8125rem;
  }

  .mobile-display {
    display: flex;
  }

  .mobile-hidden {
    display: none;
  }

  .order-product,
  .order-detail,
  .order-pay {
    padding: 12px 24px;
  }

  .order-product__col {
    width: 15%;
  }

  .order-product__col-big {
    width: 35%;
  }

  .order-pay__submit p {
    font-size: 0.75rem;
    width: 50%;
  }

  .order-pay__price-container {
    width: 70%;
    gap: 8px;
  }

  .order-pay__submit button {
    width: 40%;
    height: 40px;
    font-size: 1rem;
  }

  /* body {
    background-color: var(--white);
  } */
}