.modal {
  position: fixed;
  inset: 0;
  z-index: 10000;

  overflow-y: scroll;

  background: rgba(0, 0, 0, .2);
}

.modal__container {
  position: relative;
  width: 90%;
  max-width: 30rem;
  min-height: 30rem;

  margin: 10.5rem auto;
  padding: 1rem;
  border-radius: .5rem;

  background: white;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  aspect-ratio: 1/1;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 100%;
}

.modal__close>span {
  width: 1.5rem;
  height: min-content;

  padding: 0;
}

@media screen and (max-width: 1024px) {
  .modal__container {
    margin-block: 8.5rem;
  }
}