.nav__icon {
    font-size: 2rem;
}

.app-bar {
    position: fixed;
    bottom: 0px;
    background-color: white;
    width: 100%;
    height: 70px;
    padding: 0;
    display: none;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -1px 12px hsla(231, 65%, 51%, 0.15);
}

.app-bar__container {
    width: 90vw;
    height: 100%;
    background-color: none;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
}

.app-bar__container a {
    text-decoration: none;
    color: black;
}

.app-bar__element {
    width: 80px;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.app-bar__element.active .material-icons {
    color: #2a7ee4;
    font-variation-settings: 'FILL' 1;
}

.app-bar__element.active a {
    color: #2a7ee4;
}

@media screen and (max-width: 40rem) {
    .app-bar {
        display: flex;
    }
}

@media screen and (max-width: 26rem) {
    .app-bar__container {
        width: 95vw;
    }
}