body {
	margin: 0;
	padding: 0;
	background: var(--white);
}

.mobile-account-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100% !important;
	height: 100%;
	margin-bottom: 100px;

}

/* side-bar */
#sidebar {
	display: flex;
	flex-direction: column;
	width: 100%;
	transition: .3s ease;
	scrollbar-width: none;
	border-radius: 8px;
}

#sidebar .material-symbols-outlined {
	margin-right: 12px;
	font-size: 32px;
}

.image-container {
	position: relative;
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
	object-fit: cover;
}

.avatarimg {
	border-radius: 50%;
}

.avatar {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-decoration: none;
}

.user_name {
	color: #333;
	text-align: center;
	margin-bottom: 12px;
	margin-top: 8px;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 0 !important;
	padding: 12px;
}

.side-menu.top {
	background: var(--white);
}

.side-menu.top li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	background: transparent;
	border: 1px solid #ddd;
	padding: 4px;
	margin-bottom: 8px;
}

.side-menu li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	background: transparent;
	background: var(--dollar-red);
	border-radius: 12px;
	padding: 4px;
	margin-bottom: 8px;
}

.side-menu.top li .arrow-icon {
	margin-left: auto;
	margin-right: 10px;
	font-size: 16px;
}

#sidebar .side-menu.top li a:focus {
	background: var(--primary-color-1);
	color: var(--white);
	border-radius: 12px;
}

#sidebar .side-menu.top li a {
	width: 100%;
	height: 100%;
	background: white;
	display: flex;
	align-items: center;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
	text-decoration: none;
	height: 50px;
	background: transparent;
	padding: 4px;
}

#mobile-account__logout a {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	color: var(--white);
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.side-menu li {
	padding: 10px;
}


/* Popup logout */
.mobile-account__popup {
	display: block;
	position: fixed;
	padding-top: 50%;
	width: 100%;
	height: 100%;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.5);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
}

.mobile-account__popup .material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 300,
		'GRAD' 0,
		'opsz' 24
}

.mobile-account__popup .popup__main {
	position: relative;
	background-color: #FAFAFA;
	border-radius: 8px;
	margin: auto;
	width: 55%;
	height: auto;
	display: flex;
	justify-content: space-between;
	padding: 15px;

}

.mobile-account__popup .close-btn {
	position: relative;
	color: var(--primary-color-1);
	font-size: 25px;
	font-weight: 700;
}

.mobile-account__popup .popup__content-main {
	display: flex;
	padding: 32px;
	flex-direction: column;
	gap: 12px;
}

.mobile-account__popup .popup--top {
	display: flex;
	justify-content: space-between;
}

.mobile-account__popup .popup .popup__title {
	font-size: 16px;
	font-weight: 600;
}

.mobile-account__popup .popup__subtitle {
	margin: 4px 0;
	font-size: 14px;
}

.mobile-account__popup .popup__content-title {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.mobile-account__popup .popup__main--right {
	width: 100%;
}

.mobile-account__popup .popup__button {
	display: flex;
	justify-content: center;
	margin-top: 24px;
	gap: 12px;
}

a.btn.btn--filled.pri.btn-logout {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 18px;
	font-size: 0.875rem;
	height: 42px;
}

.mobile-account__popup .popup__button button.btn--outlined.pri {
	padding: 0 36px 0 36px;
}

.mobile-account__popup .popup__button button {
	height: 42px;
}

.mobile-account__popup .popup__button button.btn--outlined.pri {
	font-size: 0.875rem;
	padding: 0 18px;
}

.mobile-account__popup .popup__button button.btn--filled.pri {
	font-size: 0.875rem;
	padding: 0 18px;
}