.about-us__container {
  width: 100%;
  /* max-width: 1152px; */
  display: flex;
  flex-direction: column;
  /* gap: 2vh; */
  padding-top: 4rem;
  background-color: white;
  margin: 0 auto;
  margin-top: -5rem;
  margin-bottom: 0;
}

.about-us__about-information,
.about-us__about-members,
.about-us__about-value {
  width: 100%;
  max-width: unset !important;
}

section.white {
  background-color: #fff;
}

section.brown-img {
  background-color: #3f271b;
  /* Màu nền mặc định */
  background-image: url('../../../../public/imgs/about-us/background-member.png');
  /* Đường dẫn đến hình ảnh nền */
  background-size: cover;
  /* Hiển thị hình ảnh sao cho nó phủ đầy toàn bộ background */
  background-position: center;
  /* Hiển thị hình ảnh ở giữa */
  color: white;
}

section.brown {
  background-color: #ffd68e;
  /* Màu nền mặc định */
}

.about-us__about-information {
  display: flex;
  flex-direction: column;
  margin: .75rem auto;
  gap: 2.5rem;
}

.about-us__about-information__wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
  align-items: center;
}

.about-us__content-about {
  width: 80%;
  max-width: 1152px;
  margin: 0 auto;
  margin-bottom: 24px;
}

.about-us__content-about p {
  margin-top: 8px;
}

h1.about-us__about-information__title {
  font-size: 2.8rem;
  font-weight: 900 !important;
}

.about-us__about-information__title,
.about-us__about-value__title,
.about-us__about-members__subtitle {
  text-align: center;
}

.about-us__about-value__title,
.about-us__about-members__title {
  font-weight: 800;
  font-size: 2rem;
}

.about-us__about-members__subtitle {
  margin-top: 16px;
}

.about-us__about-information__title::after {
  content: "::after";
  content: "";
  display: block;
  width: 5rem;
  height: 2px;
  background: #000000;
  margin: .75rem auto 1rem;
}

.about-us__about-information__subtitle {
  text-align: center;
}

.about-us__service__container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 2%;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-us__service__wrapper {
  display: flex;
  flex-direction: column;
  width: 32%;
  flex-wrap: wrap;
  gap: .5rem;
}

.about-us__service__wrapper h3 {
  text-align: center;
}

.about-us__service__wrapper p {
  font-size: 0.875rem;
  text-align: center;
  font-weight: 200 !important;
}

.about-us__service__imgs__cover {
  width: 100%;
  display: block;
  margin: 0 auto;
  aspect-ratio: 1 / 1;
  position: relative;
  width: 70px;
  height: 70px;
}

.about-us__banner {
  display: block;
  width: 100%;
  aspect-ratio: 37 / 6;
  position: relative;
}

.about-us__banner-img {
  border-radius: .5rem;
}

.about-us__about-value {
  display: flex;
  flex-direction: column;
  margin: -0.2rem auto;
  gap: 2.5rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
}

.about-us__value__container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 2%;
  flex-wrap: wrap;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-us__value__wrapper {
  display: flex;
  flex-direction: column;
  width: 32%;
  flex-wrap: wrap;
  gap: .5rem;
  background-color: white;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 21px 0px rgba(211, 211, 211, 0.35);
  cursor: context-menu;
  padding: 1.5rem;
  margin-top: .75rem;
}

.about-us__value__wrapper h4 {
  text-align: center;
}

.about-us__value__wrapper p {
  font-size: 0.875rem !important;
  text-align: center;
  font-weight: 200 !important;
}

.about-us__value__imgs__cover {
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  display: block;
  aspect-ratio: 1 / 1;
  position: relative;
  width: 3rem;
}

.about-us__about-value__wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-us__about-value__title::after {
  content: "::after";
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: #000000;
  margin: .75rem auto 1rem;
}

.about-us__about-value__subtitle {
  text-align: center;
}

.about-us__about-members {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* margin: .75rem auto; */
  background-color: white;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 21px 0px rgba(211, 211, 211, 0.35);
  padding: 32px 16px;
}

.about-us__members__container {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  gap: 0.8%;
  flex-wrap: wrap;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-us__about-members__wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  max-width: 1152px;
  margin: 0 auto;
  padding: 0 1rem;
}

.about-us__members__wrapper h4 {
  text-align: center;
  padding: 0 .5rem;
}

.about-us__members__wrapper p {
  font-size: 0.875rem !important;
  text-align: center;
  font-weight: 200 !important;
}

.about-us__about-members__title::after {
  content: "::after";
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background: white;
  margin: .75rem auto .1rem;
}

.about-us__about-members__subtitle {
  text-align: center;
}

.about-us__members__imgs__cover {
  margin: 0 auto;
  width: 100%;
  margin: 0 auto;
  display: block;
  aspect-ratio: 83 / 121;
  position: relative;
  margin-bottom: .5rem;
}

.about-us__members__imgs__cover img {
  object-fit: contain;
}

.about-us__members__wrapper {
  display: flex;
  flex-direction: column;
  width: 16%;
  flex-wrap: wrap;
  cursor: context-menu;
  margin-top: .75rem;
  padding: .5rem;
  justify-content: flex-start;
}

@media screen and (max-width: 860px) {

  .about-us__value__container,
  .about-us__about-value__wrapper,
  .about-us__members__container,
  .about-us__about-members__wrapper,
  .about-us__service__container,
  .about-us__about-information__wrapper {
    width: 90%;
  }

  .about-us__members__wrapper {
    width: 32%;
  }

  .about-us__value__wrapper {
    width: 49%;
  }

  .about-us__service__imgs__cover {
    width: 40px;
    height: 40px;
  }

  .about-us__service__wrapper h3 {
    font-size: 1rem;
  }

  .about-us__service__wrapper p {
    font-size: 0.85rem;
    font-weight: 200;
  }

  .about-us__about-members {
    padding: 32px 12px 12px 32px;
  }
}

@media screen and (max-width: 430px) {
  .about-us__container {
    width: 100%;
  }

  .about-us__value__container,
  .about-us__about-value__wrapper,
  .about-us__members__container,
  .about-us__about-members__wrapper,
  .about-us__service__container,
  .about-us__about-information__wrapper {
    width: 100%;
  }

  .about-us__content-about {
    width: 90%;
  }

  .about-us__about-members {
    padding: 12px;
  }

  .about-us__members__container {
    padding: 0;
    justify-content: space-between;
  }

  .about-us__members__wrapper {
    width: 40%;
  }
}