.customer_categories {
  max-width: 80%;
  margin: 1rem auto;
  padding: 1rem;
  padding-top: 0;
  display: flex;
  text-align: center;
  align-content: center;
  max-height: 23rem;
  height: 13rem;
}
