 .CustomerCatogories{
    max-width: 1450px;
    margin: 1rem auto;
    padding: 1rem;
    padding-top: 0;
    text-align: center;
 }
 
 .product--image {
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 380px;
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
    cursor: pointer;
    height: 100%;
    border: 1px solid #ddd; /* Thêm border */
    border-radius: 20px; /* Bo tròn góc */
  }
 .card-Name{
    font-size: 18px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
 }
 .custom-link {
    color: inherit;
    text-decoration: none; 
  } 
  .custom-link:hover {
    opacity: 0.7;
  }

  @media screen and (max-width: 80rem) {
    .CustomerCatogories {
        width: 100%;
        height: 150px;
        margin-top: 2rem; /* Điều chỉnh giá trị margin-top */
    }
}

  @media screen and (max-width: 60rem) {
    .CustomerCatogories {
        width: 100%;
        height: 150px;
        margin-top: 2rem; /* Điều chỉnh giá trị margin-top */
    }
}

@media screen and (max-width: 48rem) {
    .CustomerCatogories {
        width: 100%;
        height: 150px;
        margin-top: 6.5rem;
    }
}

@media screen and (max-width: 33rem) {
    .CustomerCatogories {
        width: 100%;
        height: 150px;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 26rem) {
    .CustomerCatogories {
        width: 100%;
        height: 100px;
        margin-top: 0; /* Bỏ margin-top */
    }
}
