.notification-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: .5rem;

  background: var(--primary-mau1-2);
}

.notification-item.is-active {
  background: white;
}

.notification-item__cover-container {
  position: relative;
  min-width: 8rem;
  aspect-ratio: 1/1;
  overflow: hidden;

  border-radius: .5rem;
}

.notification-item__cover-container img {
  object-fit: contain;
}

.notification-item__content-wrapper {
  height: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.notification-item__short-description {
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  flex-grow: 2;
}

.notification-item__supported-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
}