.search-result__sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: solid 1px var(--outline-gray);
  border-radius: 12px;
  gap: 8px;
  padding: 8px 12px 8px 16px;
}

.search-result__sort:hover {
  cursor: pointer;
  border-color: var(--primary-color-1);
  color: var(--primary-color-1);
}

.search-result__sort-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.search-result__sort-content .material-symbols-outlined {
  margin-top: 4px;
  font-size: 1.125rem;
}

.dropdown-content--sort {
  display: none;
  position: absolute;
  top: 59%;
  right: 150px;
  background-color: var(--white-gray);
  width: 240px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  border-radius: 0 0 8px 8px;
  z-index: 999;
  height: auto;
  flex-direction: column;
}

.sort-label {
  color: black;
  padding: 16px 12px;
  text-decoration: none;
  display: block;
}

.sort-label:hover {
  cursor: pointer;
  color: var(--primary-color-1);
  border-color: var(--primary-color-1);
}

.dropdown-content--sort hr {
  border: 0.5px solid var(--outline-gray);
  margin: -4px 12px;
}

.sort-option {
  display: none;
}

.search-result__heading--disable .search-result__sort--disable {
  font-size: 1.125rem;
  padding-left: 6px;
  margin: 0;
}

@media only screen and (max-width: 416px) {
  .search-result__sort {
    display: none;
  }

  .search-result__sort--disable.active {
    display: block;
  }

  .search-result__heading--disable {
    display: flex;
    padding: 12px 12px 0 12px;
  }
}