.product-description {
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.product-description__title-div {
    display: flex;
    justify-content: space-between;
}

.product-description__see-more {
    cursor: pointer;
    padding: 4px 4px 4px 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
}

.product-description__see-more-text {
    font-weight: 600;
}

.product-description__title {
    padding-bottom: 8px;
}

.product-description-content {
    max-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    overflow: hidden;
}

.product-description-content.full-height {
    max-height: none;
}

.product-description-content__title {
    width: 100%;
}

.product-description-content__paragraph {
    width: 100%;
}

.product-description-content__image-div {
    width: 100%;
    position: relative;
    aspect-ratio: 1 / 1;
}

.product-description-content__image {
    height: 750px !important;
    border-radius: 12px;
    position: relative !important;
}

.product-description-content__image-caption {
    width: 100%;
    text-align: center;
    font-style: italic;
}

.see-more-btn {
    cursor: pointer;
}

.see-more-btn__gradient {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0px;
    bottom: 40px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.see-more-btn__text {
    width: 100%;
    text-align: center;
    font-weight: 500;
}