.product {
    width: 80%;
    max-width: 1152px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hidden {
    display: none !important;
}

.display-flex {
    display: flex;
}

.product section {
    background-color: var(--white);
    padding: 16px;
    border-radius: 8px;
}

.product-content {
    width: 100%;
    display: grid;
    grid-template-columns: 482px 1fr;
    gap: 12px;
    position: relative;
    overflow: visible
}

.product-content-left {
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: sticky;
    top: 120px;
}

.product-content-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
}

.decoration-div {
    width: 110px;
    height: 110px;
    position: absolute;
    top: -20px;
    right: -32px;
    rotate: 20deg;
    z-index: 2;
}

.decoration-img {
    object-fit: contain;
}

.desktop-hidden {
    display: none !important;
}

.related-container {
    background-color: #ffecbd;
    padding: 2rem 1rem;
    border-radius: 8px;
}

@media only screen and (max-width: 1025px) {
    .product {
        width: 90%;
    }

    .product section {
        padding: 12px;
    }

    .product-content {
        grid-template-columns: 380px 1fr;
    }

    .product-content-left {
        top: 72px;
    }

    .decoration-div {
        width: 100px;
        height: 100px;
    }
}

@media only screen and (max-width: 921px) {
    .product-content {
        grid-template-columns: 340px 1fr;
    }

    .decoration-div {
        width: 80px;
        height: 80px;
        right: -16px;
    }
}

@media only screen and (max-width: 821px) {
    .tablet-hidden {
        display: none !important;
    }

    .tablet-display {
        display: flex !important;
    }

    .product {
        gap: 8px;
    }

    .product-content {
        grid-template-columns: 280px 1fr;
        gap: 8px;
    }

    .product section {
        padding: 8px;
    }

    .product-content-left {
        top: 52px;
        gap: 8px;
    }

    .product-content-right {
        gap: 8px;
    }

    .decoration-div {
        width: 80px;
        height: 80px;
        right: -20px;
    }
}

@media only screen and (max-width: 725px) {
    .product-content {
        grid-template-columns: 260px 1fr;
    }

    .decoration-div {
        width: 60px;
        height: 60px;
        right: -12px;
    }
}

@media only screen and (max-width: 621px) {
    .product-content {
        grid-template-columns: 210px 1fr;
    }
}

@media only screen and (max-width: 431px) {
    .mobile-hidden {
        display: none !important;
    }

    .mobile-display {
        display: flex !important;
    }

    .product {
        width: 100%;
        padding: 12px 8px;
        margin: 0;
        padding: 1rem;
        padding-top: 0;
        background-color: var(--white);
    }

    .product section {
        padding: 0px 4px;
    }

    .product-content {
        grid-template-columns: 100%;
    }

    .product-content-left {
        width: 100%;
    }
}