.account-information__main {
	padding: 1rem;
	border-radius: .5rem;
	background: white;
	width: 100%;
	margin: 0px;
}

.information__main {
	display: flex;
	flex-direction: column;
	/* gap: 24px; */
	width: 100%;
	padding: 1rem;
}

.eye-open {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;

	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: var(--dark6);
	padding: 0 1rem;
}

.error {
	color: red;
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: translateY(-0%);
	pointer-events: none;
	transition: 0.4s;
}

.success {
	color: var(--primary-mau4-4);
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: translateY(-0%);
	pointer-events: none;
	transition: 0.4s;
}

.change-pass__main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}

.change-pass-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 24px;
	justify-content: space-between;
	background-color: white;
	border-radius: 8px;
	margin-bottom: 24px;
}

.change-pass-item--top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.change-pass-item__info {
	display: flex;
	flex-direction: row;
	gap: 8px;
	align-items: center;
}

.change-pass-item__info p {
	font-size: 1rem;
}

.change-pass-item__main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4px;
}

.change-pass-item__element {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.change-pass-item hr {
	margin: 12px 0;
	border: 0.5px solid #eaeaea;
}

.change-pass-item__password {
	display: flex;
	flex-direction: column;
	gap: 4px;
}

.reset__input-wrap {
	position: relative;
	height: 3rem;
	margin-bottom: 2rem;
	display: flex;
}

.reset__input-wrap label {
	padding-top: 6px;
	width: 28%;
	min-width: 100px;
}

.reset__input-wrap .reset__error {
	color: var(--red);
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: translateY(-0%);
	pointer-events: none;
	transition: 0.4s;
}

.reset__input-field {
	/* position: absolute; */
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	border: 1px solid #bbb;
	border-radius: 8px;
	padding: 8px;
	color: var(--black);
}

.reset__input-field.active {
	border-color: var(--black);
}

.reset__toggle-password {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
}

span.red-start {
	color: red;
}

.change-pass-item__element {
	display: none;
}

.change_Password {
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.button_wrapper {
	display: flex;
	justify-content: flex-end;
	height: fit-content;
}

.save {
	width: 10rem;
	height: 4rem;
	color: #fff;
	font-weight: 700;
	background-color: var(--primary-mau4-2);
	border-radius: 8px;
}

@media only screen and (max-width: 1024px) {

	.purchase__status {
		padding: 12px 24px;
	}

	#change-pass-item__price {
		gap: 8px;
	}
}


@media only screen and (max-width: 768px) {

	.purchase__status {
		padding: 12px 24px;
	}

	#change-pass-item__price {
		gap: 8px;
	}

	.change-pass-item__status {
		font-size: 0.875rem;
	}

	.change-pass-item__info p {
		font-size: 0.875rem;
	}

	.change-pass-item {
		padding: 8px;
	}
}

