.account-information__main {
    padding: 1rem;
    border-radius: .5rem;
    background: white;
    width: 100%;
    margin: 0px;
}

.information__main {
    display: flex;
    flex-direction: column;
    /* gap: 24px; */
    width: 100%;
    padding: 1rem;
}
.eye-open {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;

	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: var(--dark7)
}
.error {
	color: red;
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: translateY(-0%);
	pointer-events: none;
	transition: 0.4s;
}
.change-pass__main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}
.change-pass-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 24px;
}
.change-pass-item--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.change-pass-item__info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}
.change-pass-item__info p {
    font-size: 1rem;
}
.change-pass-item__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}
.change-pass-item__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.change-pass-item hr {
    margin: 12px 0;
    border: 0.5px solid #eaeaea;
}

.change-pass-item__password {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.reset__input-wrap {
	position: relative;
	height: 37px;
	margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    
}

label {
	padding-top: 6px;
    width: 28%;
}

.reset__input-wrap .reset__error {
	color: var(--red);
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: translateY(-0%);
	pointer-events: none;
	transition: 0.4s;
}

.reset__input-field {
    
	position: absolute;
	width: 65%;

	height: 100%;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #bbb;
	padding: 0;
	font-size: 0.95rem;
	color: var(--black);
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
    /* background-color: black; */
}

.reset__input-field.active {
	border-bottom-color: var(--black);
}

.reset__input-field.active+label {
	font-size: 0.95rem;
	top: -2px;
}

.reset__toggle-password {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.change_Password {
	margin-top: 16px;
}
span.red-start{
	color: red; 
}
.change-pass-item__element {
	display: none;
}

.change_Password {
	display: block;
}
.popup__button {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
	gap: 12px;
}
.save {
	width:7rem;
}

@media only screen and (max-width: 64rem) {
    
	.purchase__status {
		padding: 12px 24px;
	}

	h2 {
		font-size: 1.25rem;
	}

	#change-pass-item__price {
		gap: 8px;
	}
}


@media only screen and (max-width: 48rem) {
	.account-container {
		width: 95%;
		margin: 0 0 24px 0;
		padding-top: 24px;
	}

	h2 {
		font-size: 1.125rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.875rem;
	}

    .reset__input-field {
        width: 60%;
    }

	small {
		font-size: 0.75rem;
	}

	.purchase__status {
		padding: 12px 24px;
	}

	#change-pass-item__price {
		gap: 8px;
	}

	.change-pass-item__status {
		font-size: 0.875rem;
	}

	.change-pass-item__info p {
		font-size: 0.875rem;
	}

	button {
		height: 42px;
	}

	button.btn--outlined.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}

	button.btn--filled.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}
}
@media only screen and (max-width: 26rem) {
    .reset__input-field {
        width: 55%;
    }
}





























