/* side-bar */
#sidebar {
    display: flex;
    flex-direction: column;
    width: 345px;
    background: white;
    transition: .3s ease;
    overflow-x: hidden;
    border-radius: 8px;
}

#sidebar .material-symbols-outlined {
    margin-right: 8px;
}


span.image-container img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.avatar {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.image-container {
    margin-bottom: 5px;
}

.user_name {
    color: #333;
    text-align: center;
}

/* Định dạng màu đỏ cho menu active */
#sidebar .side-menu__ele.active a {
    color: var(--primary-color-1);
}

#sidebar .side-menu.top li a:hover {
    color: var(--primary-color-2);
}

#sidebar .side-menu li a:hover {
    color: var(--primary-color-2);
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 20px;
}

 .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}
 .side-menu li a {
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--dark);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar .side-menu li a .bx {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

.sidebar-account__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow-y: auto;
}

.sidebar-account__popup .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.sidebar-account__popup .material-symbols-outlined:hover {
    color: var(--primary-color-2);
}

.sidebar-account__popup .popup__main {
    position: relative;
    background-color: #FAFAFA;
    border-radius: 8px;
    margin: auto;
    width: 55%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 32px;

}

.sidebar-account__popup .btn-close {
    position: relative;
    color: var(--primary-color-1);
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar-account__popup .popup__content-main {
    display: flex;
    padding: 32px;
    flex-direction: column;
    gap: 12px;
}

.sidebar-account__popup .popup--top {
    display: flex;
    justify-content: space-between;
}

.sidebar-account__popup .popup__title {
    font-size: 1.5rem;
    font-weight: 600;
}

.sidebar-account__popup .popup__subtitle {
    margin: 4px 0;
}


.sidebar-account__popup .popup__content-title {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-account__popup .popup__main--right {
    width: 100%;
}

.logout_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 300px;
}

.logout_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar-account__popup .popup__button {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    gap: 12px;
}

.sidebar-account__popup .popup__button button.btn--filled.pri {
    padding: 0 36px 0 36px;
}

.sidebar-account__popup .popup__button button.btn--outlined.pri {
    padding: 0 36px 0 36px;
}

.btn-logout {
    display: flex;
    align-items: center;
    color: red;
}

.btn-logout:hover {
    cursor: pointer;
    color: var(--dollar-red);
}

.sidebar-account__popup .btn.btn--outlined.pri.btn-cancel {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 48rem) {

    .logout_img {
        height: 250px;
    }

}

@media only screen and (max-width: 26rem) {
    #sidebar {
        display: none;
    }
}

/* success-modal */
.success-modal {
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
}

.success-modal__background {
    position: absolute;
    width: 100%;
    height: 100%;
}

.success-modal__content {
    z-index: 10000;
    width: 30%;
    padding: 48px 24px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--white);
    display: inherit;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.success-modal__content img {
    width: 60px;
    height: 60px;
}

/* 1024px - Tablet */
@media only screen and (max-width: 64rem) {
    .success-modal__content {
        width: 35%;
        padding: 36px 24px;
    }
}

/* 768px - Tablet */
@media only screen and (max-width: 48rem) {
    .success-modal__content {
        width: 40%;
        padding: 24px;
    }

    .success-modal__content h3 {
        font-size: 1.125rem;
    }

}

/* 416px - Tablet */
@media only screen and (max-width: 26rem) {
    .success-modal__content {
        width: 80%;
        border-radius: 4px;
        gap: 12px;
    }

    .success-modal__close span {
        font-size: 1.5rem;
    }

    .success-modal__content h3 {
        font-size: 1rem;
    }
}

/* change-password */
.eye-open {
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 24;

	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	color: var(--dark7)
}

.error {
	color: red;
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: translateY(-0%);
	pointer-events: none;
	transition: 0.4s;
}


body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--bg-white);
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.account-container {
	width: 80%;
	max-width: 1152px;
	padding: 0;
	margin: 24px 0;
	display: flex;
	gap: 12px;
	align-items: flex-start;
}

.change-pass__main {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 100%;
}

#cancel-button {
	background-color: var(--bg-gray);
}

#cancel-button:hover {
	background-color: #bbb;
}

#confirm-button {
	background-color: var(--primary-color-1);
}

#confirm-button:hover {
	background-color: var(--primary-color-3);
}

.logout-form button {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logout-form button:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reset__input-wrap {
	position: relative;
	height: 37px;
	margin-bottom: 2rem;
}

.reset__input-wrap .reset__error {
	color: var(--red);
	font-size: 0.8rem;
	position: absolute;
	right: 0;
	top: 100%;
	transform: translateY(-0%);
	pointer-events: none;
	transition: 0.4s;
}

.reset__input-field {
	position: absolute;
	width: 100%;
	height: 100%;
	background: none;
	border: none;
	outline: none;
	border-bottom: 1px solid #bbb;
	padding: 0;
	font-size: 0.95rem;
	color: var(--black);
	transition: 0.4s;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.reset__input-field.active {
	border-bottom-color: var(--black);
}

.reset__input-field.active+label {
	font-size: 0.95rem;
	top: -2px;
}

.reset__toggle-password {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}


.change_Password {
	margin-top: 16px;
}

.back a {
	display: flex;
	align-items: center;
	justify-content: center;
}

.change-pass-item__element {
	display: none;
}

.change_Password {
	display: block;
}

span.red-start{
	color: red; 
}

.reset__sign-btn {
	width: 100%;
	margin-bottom: 5px;
}

.popup__button {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
	gap: 12px;
}

.popup__button .cancel {
	color: var(--primary-color-1);
}

.popup__button .save {
	color: white;
}


.change-pass-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: space-between;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 24px;
}

.change-pass-item--top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.change-pass-item__info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.change-pass-item__info p {
    font-size: 1rem;
}

.change-pass-item__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.change-pass-item__element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.change-pass-item hr {
    margin: 12px 0;
    border: 0.5px solid #eaeaea;
}

.change-pass-item__password {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/*Responsive-small-laptop*/
@media only screen and (max-width: 64rem) {
	.purchase__status {
		padding: 12px 24px;
	}

	h2 {
		font-size: 1.25rem;
	}

	#change-pass-item__price {
		gap: 8px;
	}
}

/*Responsive-tablet*/
@media only screen and (max-width: 48rem) {
	.account-container {
		width: 95%;
		margin: 0 0 24px 0;
		padding-top: 24px;
	}

	h2 {
		font-size: 1.125rem;
	}

	h4 {
		font-size: 1rem;
	}

	h5 {
		font-size: 0.875rem;
	}

	small {
		font-size: 0.75rem;
	}

	.purchase__status {
		padding: 12px 24px;
	}

	#change-pass-item__price {
		gap: 8px;
	}

	.change-pass-item__status {
		font-size: 0.875rem;
	}

	.change-pass-item__info p {
		font-size: 0.875rem;
	}

	button {
		height: 42px;
	}

	button.btn--outlined.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}

	button.btn--filled.pri {
		font-size: 0.875rem;
		padding: 0 18px;
	}
}

label {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	font-size: 0.95rem;
	color: var(--dark7);
	pointer-events: none;
	transition: 0.4s;
}
