.footer {
  background-color: var( --primary-mau4-7);
}

.footer__container {
  width: 80%;
  max-width: 1152px;
  min-height: 280px;

  margin: 0 auto;
  padding-top: 2rem;

  display: grid;
  grid-template-areas:
    'CompanyName CompanyName About Help Contact Contact'
    'Copyright Copyright Copyright Copyright Copyright Copyright';
  grid-template-columns: repeat(6, 1fr);

  gap: 1rem;
}

.footer__container span {
  color: white;
  font-size: 0.875rem;
  text-align: start;
}

.footer__container a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer__container a:hover {
  font-weight: bold;
}

.footer__container h3 {
  font-size: 1.25rem;
}

.footer__logo {
  width: 80%;
}

.footer__company-name {
  grid-area: CompanyName;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}

.footer__company-name span {
  font-weight: bold;
}

.footer__list-social-media {
  display: flex;
  gap: .25rem;
}

.footer__social-media-container {
  display: block;
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
}

.footer__list-social-media a:hover img {
  filter: drop-shadow(0 4px 8px var(--white-o2));
}

.footer__about {
  grid-area: About;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__help {
  grid-area: Help;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__contact {
  grid-area: Contact;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__title {
  color: white;
  padding-top: 1rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.footer__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .25rem;

  overflow-wrap: anywhere;
}

.footer__list-item.phone {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer__list-item.phone:hover {
  font-weight: 700;
  cursor: pointer;
}

/* Copyright */
.footer__copyright {
  color: var(--white);
  grid-area: Copyright;
  background-color: var(--primary-mau4-1);
  /* margin: .25rem 0; */
  padding: .25rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__copyright span {
  font-weight: bold;

  cursor: default;
}

@media only screen and (max-width: 1025px) {
  .footer__container {
    width: 90%;
    padding-top: 1.5rem;

    grid-template-areas:
      'CompanyName About Help'
      'CompanyName Contact Contact'
      'Copyright Copyright Copyright';
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__company-name {
    justify-content: center;
  }
}

@media only screen and (max-width: 769px) {
  .footer__container {
    padding-top: 1rem;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'CompanyName About '
      'CompanyName Help'
      'CompanyName Contact'
      'Copyright Copyright';
  }

  .footer__container h3 {
    font-size: 1rem;
  }

  .footer__container a {
    font-size: 0.75rem;
  }

  .footer__container span {
    font-size: 0.75rem;
  }

  .footer__company-name {
    align-items: center;
  }
}

@media only screen and (max-width: 417px) {
  .footer__container {
    width: 100%;

    padding: .5rem;
    display: flex;
    flex-direction: column;
  }

  .footer__about,
  .footer__help,
  .footer__company-name,
  .footer__contact {
    align-items: center;
  }
}