.footer {
  background-color: var(--primary-color-2);
}

.footer__container {
  width: 80%;
  max-width: 1152px;
  min-height: 280px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-inline: 1rem;

  display: grid;
  grid-template-areas:
    'CompanyName CompanyName About Help Contact Contact'
    'Copyright Copyright Copyright Copyright Copyright Copyright';
  grid-template-columns: repeat(6, 1fr);

  gap: 1rem;
}

.footer__container span {
  color: white;
  font-size: 0.875rem;
  text-align: start;
}

.footer__container a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer__container a:hover {
  font-weight: bold;
}

.footer__container h3 {
  font-size: 1.25rem;
}

.footer__logo {
  height: 4rem;
  object-fit: contain;
}

.footer__company-name {
  grid-area: CompanyName;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}

.footer__about {
  grid-area: About;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__help {
  grid-area: Help;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__contact {
  grid-area: Contact;

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__title {
  color: white;
  padding-top: 1rem;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .25rem;
}

.footer__list-item.phone {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer__list-item.phone:hover {
  font-weight: 700;
  cursor: pointer;
}

.footer__social-media {
  object-fit: contain;
  height: 1.5rem;
}

/* Copyright */
.footer__copyright {
  grid-area: Copyright;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: .25rem 0;
}

.footer__copyright span {
  font-weight: bold;

  cursor: default;
}

.footer__copyright span:hover {
  font-weight: bold;
}

@media only screen and (max-width: 1024px) {
  .footer__container {
    width: 95%;
    padding-top: 1.5rem;

    grid-template-areas:
      'CompanyName About Help'
      'CompanyName Contact Contact'
      'Copyright Copyright Copyright';
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__company-name {
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .footer__container {
    width: 90%;
    padding-top: 1rem;
    padding-inline: .75rem;

    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'CompanyName About '
      'CompanyName Help'
      'CompanyName Contact'
      'Copyright Copyright';
  }

  .footer__container h3 {
    font-size: 1rem;
  }

  .footer__container a {
    font-size: 0.75rem;
  }

  .footer__container span {
    font-size: 0.75rem;
  }

  .footer__company-name {
    align-items: center;
  }

  .footer__logo {
    height: 3rem;
  }
}

@media only screen and (max-width: 320px) {
  .footer__container {
    width: 100%;
    padding: .5rem;

    display: flex;
    flex-direction: column;
  }

  .footer__about,
  .footer__help,
  .footer__company-name,
  .footer__contact {
    align-items: center;
  }
}