.footer-container {
  width: 100%;
  min-height: 280px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  background-color: var(--primary-color-2);
}

.footer-container p {
  color: white;
  font-size: 0.875rem;
  text-align: start;
}

.footer-container a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer-container a:hover {
  font-weight: 700;
}

.footer__list-test.phone {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer__list-test.phone:hover {
  font-weight: 700;
  cursor: pointer;
}

.footer-container h3 {
  font-size: 1.25rem;
}

.footer--top {
  width: min(100%, 1152px);
  padding-inline: 1rem;
  padding-top: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.footer__company-name {
  width: calc((100% + 1rem) * 0.25 - 1rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .75rem;
}

.footer__company-name--disable {
  width: 100%;

  display: none;
  flex-direction: column;
  align-items: center;
  gap: .25rem;
}

.footer__content--column {
  width: calc((100% + 1rem) * 0.25 - 1rem);

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__help-content--column {
  width: calc((100% + 1rem) * 0.25 - 1rem);

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__content--column2 {
  width: calc((100% + 1rem) * 0.25 - 1rem);

  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  gap: 1rem;
}

.footer__contact-content--column {
  width: calc((100% + 1rem) * 0.25 - 1rem);

  display: flex;
  flex-direction: column;
  gap: .75rem;
}

.footer__logo {
  width: min(100%, 25rem);
  object-fit: contain;
}

.footer__content-title {
  color: white;
}

.footer__social-media {
  object-fit: contain;
  height: 20px;
  margin-top: 12px;
}

.footer__content-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__content-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.footer--bottom {
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.footer__container--bottom {
  width: 100%;
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.footer__container--bottom p {
  color: white;
  font-weight: 600;
}

.footer__container--bottom p:hover {
  font-weight: 600;
}

@media only screen and (max-width: 64rem) {
  .footer__logo {
    /* height: 52px; */
  }

  .footer__company-name {
    width: calc((100% + 1rem) * 0.5 - 1rem);
  }

  .footer__content--column {
    width: calc((100% + 1rem) * 0.5 - 1rem);
  }

  .footer__help-content--column {
    width: calc((100% + 1rem) * 0.5 - 1rem);
  }

  .footer__contact-content--column {
    width: calc((100% + 1rem) * 0.5 - 1rem);
  }
}

@media only screen and (max-width: 48rem) {
  .footer {
    height: 220px;
  }

  .footer h3 {
    font-size: 1rem;
  }

  .footer a {
    font-size: 0.75rem;
  }

  .footer p {
    font-size: 0.75rem;
  }

  .footer__company-name {
    width: 30%;
    gap: 4px;
    margin-right: 0;
  }

  .footer__container {
    width: 90%;
    padding-top: 24px;
  }

  .footer__logo {
    height: 42px;
  }

  .footer__content-item .material-symbols-outlined {
    font-size: 1rem;
  }

  .footer__content--column {
    width: 50%;
  }

  .footer__help-content--column {
    width: 50%;
  }
}

@media only screen and (max-width: 40rem) {
  .footer {
    height: auto;
  }

  .footer__container {
    width: 90%;
    flex-direction: column;
  }

  .footer__company-name {
    display: none;
  }

  .footer__company-name--disable {
    display: flex;
  }

  .footer__content--column {
    width: 100%;
  }

  .footer__content--column2 {
    width: 100%;
    margin: 32px 0 24px 0;
  }

  .footer__contact-content--column {
    width: 100%;
    margin-bottom: 12px;
  }

  .footer__help-content--column {
    width: 100%;
    text-align: end;
  }

  .footer--bottom {
    height: 36px;
  }
}

@media only screen and (max-width: 40rem) {
  .footer {
    height: auto;
    margin-bottom: 70px;
  }
}