.footer-container {
  width: 100%;
  height: 280px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-2);
  align-items: center;
  justify-content: space-between;
}

.footer-container p {
  color: white;
  font-size: 0.875rem;
  text-align: start;
}

.footer-container a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer-container a:hover {
  font-weight: 700;
}

.footer__list-test.phone {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
}

.footer__list-test.phone:hover {
  font-weight: 700;
  cursor: pointer;
}

.footer-container h3 {
  font-size: 1.25rem;
}

.footer--top {
  width: 80%;
  max-width: 1152px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
  /* gap: auto; */
}

.footer__company-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 22%;
  margin-right: 5%;
}

.footer__company-name--disable {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  width: 100%;
}

.footer__content--column {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__help-content--column {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: start;
}

.footer__content--column2 {
  display: flex;
  width: 42%;
  justify-content: space-evenly;
  gap: 4%;
}

.footer__contact-content--column {
  width: 24%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 0;
}

.footer__logo {
  object-fit: cover;
  height: 64px;
}

.footer__content-title {
  color: white;
}

.footer__social-media {
  object-fit: contain;
  height: 20px;
  margin-top: 12px;
}

.footer__content-main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__content-item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}

.footer--bottom {
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15%;
}

.footer__container--bottom {
  width: 80%;
  display: flex;
  justify-content: center;
}

.footer__container--bottom p {
  color: white;
  font-weight: 600;
}

.footer__container--bottom p:hover {
  font-weight: 600;
}

@media only screen and (max-width: 64rem) {
  .footer__logo {
    height: 52px;
  }

  .footer__company-name {
    width: auto;
    margin-right: 0;
  }

  .footer__content--column {
    width: 60%;
  }

  .footer__contact-content--column {
    width: 30%;
  }

  .footer__content--column2 {
    justify-content: space-around;
    gap: 12px;
  }
}

@media only screen and (max-width: 48rem) {
  .footer {
    height: 220px;
  }

  .footer h3 {
    font-size: 1rem;
  }

  .footer a {
    font-size: 0.75rem;
  }

  .footer p {
    font-size: 0.75rem;
  }

  .footer__company-name {
    width: 30%;
    gap: 4px;
    margin-right: 0;
  }

  .footer__container {
    width: 90%;
    padding-top: 24px;
  }

  .footer__logo {
    height: 42px;
  }

  .footer__content-item .material-symbols-outlined {
    font-size: 1rem;
  }

  .footer__content--column {
    width: 50%;
  }

  .footer__help-content--column {
    width: 50%;
  }
}

@media only screen and (max-width: 40rem) {
  .footer {
    height: auto;
  }

  .footer__container {
    width: 90%;
    flex-direction: column;
  }

  .footer__company-name {
    display: none;
  }

  .footer__company-name--disable {
    display: flex;
  }

  .footer__content--column {
    width: 100%;
  }

  .footer__content--column2 {
    width: 100%;
    margin: 32px 0 24px 0;
  }

  .footer__contact-content--column {
    width: 100%;
    margin-bottom: 12px;
  }

  .footer__help-content--column {
    width: 100%;
    text-align: end;
  }

  .footer--bottom {
    height: 36px;
  }
}

@media only screen and (max-width: 40rem) {
  .footer {
    height: auto;
    margin-bottom: 70px;
  }
}