.news-detail-page-container {
  width: 80%;
  max-width: 1152px;
  margin: 1rem auto;

  display: grid;
  grid-template-areas:
    "news-detail aside"
    "related-news related-news";
  grid-template-columns: 9fr 3fr;
  gap: 1rem;
}

.news-detail-page {
  grid-area: news-detail;
}

.news-detail-page-container h1 {
  margin-block: 1rem .75rem;

  scroll-margin-top: calc(var(--header-height-without-nav) + 1rem);
}

.news-detail-page-container h2 {
  margin-block: 2rem .75rem;

  scroll-margin-top: calc(var(--header-height-without-nav) + 2rem);
}

.news-detail-page-container h3 {
  margin-block: 2rem 1rem;
  scroll-margin-top: calc(var(--header-height-without-nav) + 2rem);
}

.news-detail-page-container h4 {
  margin-block: 1rem 1rem;
  scroll-margin-top: calc(112px + 1rem);
}

.news-detail-page p {
  margin-top: 1rem;
}

.news-detail-page figcaption {
  text-align: center;
}

.news-detail-page__type {
  display: inline-block;
  padding: .25rem .75rem;
  border-radius: .75rem;

  background: var(--primary-mau0-2);
  color: white;
  font-weight: bold;
}

.news-detail-page__date {
  font-family: monospace;
}

.img-container {
  position: relative;

  width: 100%;
  aspect-ratio: 1/1;

  margin-top: .5rem;
  padding: 2rem;
}

.img-container img {
  object-fit: cover;
}

.news-detail-page__related-page {
  grid-area: related-news;
}

.related-page-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1025px) {
  .news-detail-page-container {
    width: 90%;
  }

  .related-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media screen and (max-width: 417px) {
  .news-detail-page-container {
    width: 100%;
    padding-inline: 1rem;
  }

  .related-page-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}