.account-container {
  width: 80%;
  max-width: 1152px;
  padding: 0;
  margin: 24px;
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

/*Responsive-tablet*/
@media only screen and (max-width: 48rem) {
  .account-container {
      width: 95%;
      margin: 20px;
  }

  h5 {
      font-size: 0.875rem;
  }

  .purchase__status {
      padding: 12px 24px;
  }
}

@media only screen and (max-width: 26rem) {
  .forgot-container {
      width: 90%;
      margin-top: 12px;
      padding: 0;
  }

  .purchase-item--top h3 {
      font-size: 16px;
  }

  .purchase-item__product-detail h5 {
      font-size: 14px;
  }

  .purchase-item__product-name {
      font-size: 0.875rem;
  }

  .purchase-item__product-name h5 {
      width: 35%;
  }
}