@import url("/styles/general.css");

.material-icons-outlined.eye-open {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;

  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--dark7);
}

span.red-start {
  color: red;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Segoe UI", sans-serif;
}

.input-wrap input[type="text"] {
  width: 10%;
  height: 5rem;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "Segoe UI", sans-serif;
}

.input-wrap {
  position: relative;
  height: 80px;
  margin-top: 1rem;
  margin-bottom: 0.875rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.input-wrap label {
  margin-left: 10px;
  font-size: 0.95rem;
}

.otp {
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
  background-color: var(--bg-white);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: relative;
  width: 100%;
  max-width: 720px;
  height: 500px;
  background-color: var(--white);
  border-radius: 12px;
  box-shadow: 0 60px 40px -30px rgba(0, 0, 0, 0.27);
}

.inner-box {
  position: absolute;
  width: calc(100% - 4.1rem);
  height: calc(100% - 4.1rem);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.send-again {
  display: flex;
  flex-direction: row;
  font-size: 1 rem;
  margin-top: 10px;
  margin-bottom: 24px;
  justify-content: center;
  gap: 8px;
}

.send-again a {
  color: var(--primary-color-1);
}

.resend {
  display: flex;
  flex-direction: row;
  font-size: 1 rem;
  margin-top: 10px;
  margin-bottom: 24px;
  justify-content: center;
  gap: 8px;
}

form {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: opacity 0.02s 0.4s;
}

.heading h2 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

.heading h6 {
  color: var(--gray);
  font-weight: 400;
  font-size: 0.95rem;
  display: inline;
}

.error {
  color: red;
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(-0%);
  pointer-events: none;
  transition: 0.4s;
}

.input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: var(--black);
  transition: 0.4s;
}

label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-70%);
  font-size: 0.95rem;
  color: var(--dark7);
  pointer-events: none;
  transition: 0.4s;
}

.input-field.active {
  border-bottom-color: var(--black);
}

.input-field.active + label {
  font-size: 0.95rem;
  top: -2px;
}

.sign-btn {
  display: inline-block;
  width: 100%;
  height: 55px;
  background-color: #ab6e48;
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.sign-btn:hover {
  background-color: #ab6e48;
}

.back {
  display: flex;
  justify-content: center;
  font-style: underline;
  font-size: 1.125rem;
}

.back a {
  color: var(--primary-color-1);
}

.btn--filled.pri {
  width: 100%;
  height: 3rem;
  font-weight: 700;
}

.forgot__input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.forgot__input-wrap .forgot__error {
  color: var(--red);
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(-0%);
  pointer-events: none;
  transition: 0.4s;
}

.forgot__input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: var(--black);
  transition: 0.4s;
}

.forgot__input-field.active {
  border-bottom-color: var(--black);
}

.forgot__input-field.active + label {
  font-size: 0.95rem;
  top: -2px;
}

.forgot__sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #ab6e48;
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.forgot__sign-btn:hover {
  background-color: #ab6e48;
}

.forgot__input-wrap .forgot__error {
  color: var(--red);
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(-0%);
  pointer-events: none;
  transition: 0.4s;
}

.Step1 {
  /* display: block; */
  flex-direction: column;
}

.Step2 {
  /* display: none; */
  flex-direction: column;
}

.Step3 {
  /* display: none; */
  flex-direction: column;
}

.hidden {
  display: none;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-container {
  position: absolute;
  width: 200px;
  height: 60px;
  margin-top: 3rem;
}

.logo_clock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.clock {
  font-size: 1rem;
}

.centered-text {
  position: fixed;
  /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
  /* Các thuộc tính khác tùy thuộc vào thiết kế của bạn */
}

form .reset__sign-in-form {
  opacity: 0;
  pointer-events: none;
}

.reset__sign-btn:hover {
  background-color: #ab6e48;
}

.reset__input-field {
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #bbb;
  padding: 0;
  font-size: 0.95rem;
  color: var(--black);
  transition: 0.4s;
}

.reset__input-field.active {
  border-bottom-color: var(--black);
}

.reset__input-field.active + label {
  font-size: 0.95rem;
  top: -2px;
}

.reset__sign-btn {
  display: inline-block;
  width: 100%;
  height: 43px;
  background-color: #ab6e48;
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
  transition: 0.3s;
}

.reset__input-wrap {
  position: relative;
  height: 37px;
  margin-bottom: 2rem;
}

.reset__input-wrap .reset__error {
  color: var(--red);
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateY(-0%);
  pointer-events: none;
  transition: 0.4s;
}

@media (max-width: 64rem) {
  .box {
    height: auto;
    max-width: 550px;
    overflow: hidden;
  }

  .inner-box {
    position: static;
    transform: none;
    width: revert;
    height: revert;
    padding: 2rem;
  }

  .forms-wrap {
    position: revert;
    width: 100%;
    height: auto;
  }

  form {
    max-width: revert;
    transition: transform 0.8s ease-in-out, opacity 0.45s linear;
  }

  input[type="number"] {
    width: 12%;
  }

  form.sign-up-form {
    transform: translateX(100%);
  }

  .carousel {
    display: none;
  }

  .images-wrapper {
    display: none;
  }

  .heading h2 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 26rem) {
  main {
    padding: 1rem;
    background-color: var(--white);
    display: block;
    padding: 0.5rem;
  }

  .box {
    border-radius: 2rem;
    box-shadow: none;
  }

  .inner-box {
    padding: 1rem;
  }

  .forms-wrap {
    width: 100%;
  }

  .carousel {
    display: none;
  }

  .text-group h2 {
    font-size: 1.2rem;
  }

  body,
  input {
    font-size: 0.875rem;
  }

  .input-wrap {
    height: 60px;
  }

  input[type="number"] {
    height: 4rem;
  }
}
